{% trans_default_domain 'FOSUserBundle' %}


<div class="container-fluid d-flex justify-content-center">
<div class="formulario-register">

<div class="formheader">
    <h2>Nova contrasenya</h2>
</div>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
    <div class="col col-lg-12 buttonChangePasswordDiv">
        <input  class="btn btn-primary buttonChangePassword" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </div>
{{ form_end(form) }}
</div>
</div>
