body{
    background-color: #292929;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: hidden;
}

.jugadors {
    width: 20%;
}

.jugadors > .row {
    border-bottom: 1px solid #333333;
}


.jugador > .row.actual {
    transform: scaleX(1.2);
}

.jugador {
    height: 60px;
    line-height: 60px;
    background-color: grey;
    color: #fff;
    display: inline-block;
    padding: 0 30px;
}

.ranking {
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #B9B9B9;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 2rem;
}

.ranking::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #fff;
    opacity: 0.2;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.board-wrapper {
    position: absolute;
    width: auto;
    margin: 0 auto;
    top: 50%;
    left: 62.5%;
    transform: translate(-70%, -50%) scale(1.6);
}

.board-img {
    width: 80%;
    height: auto;
}

.box-start {
    width: 8%;
    height: 8%;
    border-radius: 20%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-180%, -50%);
}

.box-start:hover {
    background: red;
}

.box1 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 40.9%;
    left: 40.7%;
}


.box1:hover {
    background: blue;
}

.box1-parpadeo {
    width: 5.5%;
    height: 5.2%;
    border-radius: 30px;
    transform: rotate(37deg);
    position: absolute;
    top: 41.2%;
    left: 41%;
    background: white;
    animation: parpadeo1 10s infinite;
}

@keyframes parpadeo1{
    0%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
    10%{
        top: 41.2%;
        left: 41%;
        opacity: 0;
    }
    20%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
    30%{
        top: 41.2%;
        left: 41%;
        opacity: 0;
    }
    40%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
    50%{
        top: 41.2%;
        left: 41%;
        opacity: 0;
    }
    60%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
    70%{
        top: 41.2%;
        left: 41%;
        opacity: 0;
    } 
    80%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
    90%{
        top: 41.2%;
        left: 41%;
        opacity: 0;
    }

    100%{
        top: 41.2%;
        left: 41%;
        opacity: 1;
    }
}



.box2 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 36%;
    left: 43.7%;
}


.box2:hover {
    background: blue;
}

.box2-parpadeo {
    width: 5.5%;
    height: 5.2%;
    transform: rotate(37deg);
    position: absolute;
    top: 36.3%;
    left: 43.8%;
    background: white;
    border-radius: 30px;
    animation: parpadeo2 10s infinite;
}

@keyframes parpadeo2{
    0%{
        top: 36.3%;
        left: 43.8%;
        opacity: 1;
    }
    10%{
        top: 36.3%;
        left: 43.8%;
        opacity: 0;
    }
    20%{
        top: 36.3%;
    left: 43.8%;
        opacity: 1;
    }
    30%{
        top: 36.3%;
        left: 43.8%;
        opacity: 0;
    }
    40%{
        top: 36.3%;
        left: 43.8%;
        opacity: 1;
    }
    50%{
        top: 36.3%;
        left: 43.8%;
        opacity: 0;
    }
    60%{
        top: 36.3%;
        left: 43.8%;
        opacity: 1;
    }
    70%{
        top: 36.3%;
        left: 43.8%;
        opacity: 0;
    } 
    80%{
        top: 36.3%;
        left: 43.8%;
        opacity: 1;
    }
    90%{
        top: 36.3%;
        left: 43.8%;
        opacity: 0;
    }

    100%{
        top: 36.3%;
        left: 43.8%;
        opacity: 1;
    }
}


.box3 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 30.9%;
    left: 46.5%;
}


.box3:hover {
    background: blue;
}

.box3-parpadeo {
    width: 5.5%;
    height: 5.2%;
    transform: rotate(37deg);
    position: absolute;
    top: 31.3%;
    left: 46.7%;
    background: white;
    border-radius: 30px;
    animation: parpadeo3 10s infinite;
}

@keyframes parpadeo3{
    0%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
    10%{
        top: 31.3%;
        left: 46.7%;
        opacity: 0;
    }
    20%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
    30%{
        top: 31.3%;
        left: 46.7%;
        opacity: 0;
    }
    40%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
    50%{
        top: 31.3%;
        left: 46.7%;
        opacity: 0;
    }
    60%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
    70%{
        top: 31.3%;
        left: 46.7%;
        opacity: 0;
    } 
    80%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
    90%{
        top: 31.3%;
        left: 46.7%;
        opacity: 0;
    }

    100%{
        top: 31.3%;
        left: 46.7%;
        opacity: 1;
    }
}


.box4 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 26%;
    left: 49.5%;
}


.box4:hover {
    background: blue;
}

.box4-parpadeo {
    width: 5.5%;
    height: 5%;
    transform: rotate(37deg);
    position: absolute;
    top: 26.5%;
    left: 49.6%;
    background: white;
    border-radius: 30px;
    animation: parpadeo4 10s infinite;
}

@keyframes parpadeo4{
    0%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
    10%{
        top: 26.5%;
        left: 49.6%;
        opacity: 0;
    }
    20%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
    30%{
        top: 26.5%;
        left: 49.6%;
        opacity: 0;
    }
    40%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
    50%{
        top: 26.5%;
        left: 49.6%;
        opacity: 0;
    }
    60%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
    70%{
        top: 26.5%;
        left: 49.6%;
        opacity: 0;
    } 
    80%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
    90%{
        top: 26.5%;
        left: 49.6%;
        opacity: 0;
    }

    100%{
        top: 26.5%;
        left: 49.6%;
        opacity: 1;
    }
}


.box5 {
    width: 5.8%;
    height: 7%;
    transform: rotate(37deg);
    position: absolute;
    top: 19.5%;
    left: 52.8%;
}


.box5:hover {
    background: blue;
}


.box5-parpadeo {
    width: 5.5%;
    height: 7%;
    transform: rotate(37deg);
    position: absolute;
    top: 19.6%;
    left: 53%;
    background: white;
    border-radius: 30px;
    animation: parpadeo5 10s infinite;
}

@keyframes parpadeo5{
    0%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
    10%{
        top: 19.6%;
        left: 53%;
        opacity: 0;
    }
    20%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
    30%{
        top: 19.6%;
        left: 53%;
        opacity: 0;
    }
    40%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
    50%{
        top: 19.6%;
        left: 53%;
        opacity: 0;
    }
    60%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
    70%{
        top: 19.6%;
        left: 53%;
        opacity: 0;
    } 
    80%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
    90%{
        top: 19.6%;
        left: 53%;
        opacity: 0;
    }

    100%{
        top: 19.6%;
        left: 53%;
        opacity: 1;
    }
}

.box6 {
    width: 5.8%;
    height: 9%;
    transform: rotate(37deg);
    position: absolute;
    top: 11.2%;
    left: 57.2%;
}


.box6:hover {
    background: blue;
}

.box6-parpadeo {
    width: 5.5%;
    height: 8.6%;
    transform: rotate(37deg);
    position: absolute;
    top: 11.4%;
    left: 57.5%;
    background: blue;
    border-radius: 30px;
    animation: parpadeo6 10s infinite;
}

@keyframes parpadeo6{
    0%{
        top: 11.4%;
        left: 57.5%;
        opacity: 1;
    }
    10%{
        top: 11.4%;
        left: 57.5%;
        opacity: 0;
    }
    20%{
        top: 11.4%;
        left: 57.5%;
        opacity: 1;
    }
    30%{
        top: 11.4%;
        left: 57.5%;
        opacity: 0;
    }
    40%{
        top: 11.4%;
        left: 57.5%;
        opacity: 1;
    }
    50%{
        top: 11.6%;
        left: 57.2%;
        opacity: 0;
    }
    60%{
        top: 11.6%;
        left: 57.2%;
        opacity: 1;
    }
    70%{
        top: 11.6%;
        left: 57.2%;
        opacity: 0;
    } 
    80%{
        top: 11.6%;
        left: 57.2%;
        opacity: 1;
    }
    90%{
        top: 11.6%;
        left: 57.2%;
        opacity: 0;
    }

    100%{
        top: 11.6%;
        left: 57.2%;
        opacity: 1;
    }
}

.box7 {
    width: 4.2%;
    height: 9%;
    transform: rotate(42deg);
    position: absolute;
    top: 16.2%;
    left: 62.5%;
}


.box7:hover {
    background: blue;
}

.box7-parpadeo {
    width: 4%;
    height: 8.4%;
    transform: rotate(42deg);
    position: absolute;
    top: 16.2%;
    left: 62.6%;
    background: white;
    border-radius: 30px;
    animation: parpadeo7 10s infinite;
}

@keyframes parpadeo7{
    0%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
    10%{
        top: 16.2%;
        left: 62.6%;
        opacity: 0;
    }
    20%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
    30%{
        top: 16.2%;
        left: 62.6%;
        opacity: 0;
    }
    40%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
    50%{
        top: 16.2%;
        left: 62.6%;
        opacity: 0;
    }
    60%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
    70%{
        top: 16.2%;
        left: 62.6%;
        opacity: 0;
    } 
    80%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
    90%{
        top: 16.2%;
        left: 62.6%;
        opacity: 0;
    }

    100%{
        top: 16.2%;
        left: 62.6%;
        opacity: 1;
    }
}


.box8 {
    width: 4.8%;
    height: 9%;
    transform: rotate(54deg);
    position: absolute;
    top: 22%;
    left: 65.6%;
}


.box8:hover {
    background: greenyellow;
}

.box8-parpadeo {
    width: 4%;
    height: 8.4%;
    transform: rotate(54deg);
    position: absolute;
    top: 22.5%;
    left: 66.3%;
    background: white;
    border-radius: 30px;
    animation: parpadeo8 10s infinite;
}

@keyframes parpadeo8{
    0%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
    10%{
        top: 22.5%;
        left: 66.3%;
        opacity: 0;
    }
    20%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
    30%{
        top: 22.5%;
        left: 66.3%;
        opacity: 0;
    }
    40%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
    50%{
        top: 22.5%;
        left: 66.3%;
        opacity: 0;
    }
    60%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
    70%{
        top: 22.5%;
        left: 66.3%;
        opacity: 0;
    } 
    80%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
    90%{
        top: 22.5%;
        left: 66.3%;
        opacity: 0;
    }

    100%{
        top: 22.5%;
        left: 66.3%;
        opacity: 1;
    }
}


.box9{
    width: 4.8%;
    height: 9%;
    transform: rotate(64deg);
    position: absolute;
    top: 29%;
    left: 68.6%;
}


.box9:hover {
    background: greenyellow;
}

.box9-parpadeo {
    width: 4%;
    height: 8.4%;
    transform: rotate(64deg);
    position: absolute;
    top: 29.2%;
    left: 69%;
    background: white;
    border-radius: 30px;
    animation: parpadeo9 10s infinite;
}

@keyframes parpadeo9{
    0%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
    10%{
        top: 29.2%;
        left: 69%;
        opacity: 0;
    }
    20%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
    30%{
        top: 29.2%;
        left: 69%;
        opacity: 0;
    }
    40%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
    50%{
        top: 29.2%;
        left: 69%;
        opacity: 0;
    }
    60%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
    70%{
        top: 29.2%;
        left: 69%;
        opacity: 0;
    } 
    80%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
    90%{
        top: 29.2%;
        left: 69%;
        opacity: 0;
    }

    100%{
        top: 29.2%;
        left: 69%;
        opacity: 1;
    }
}

.box10{
    width: 4.8%;
    height: 9%;
    transform: rotate(78deg);
    position: absolute;
    top: 35.8%;
    left: 70.2%;
}


.box10:hover {
    background: blue;
}

.box10-parpadeo {
    width: 4%;
    height: 8.6%;
    transform: rotate(78deg);
    position: absolute;
    top: 36.2%;
    left: 70.8%;
    background: white;
    border-radius: 30px;
    animation: parpadeo10 10s infinite;
}

@keyframes parpadeo10{
    0%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
    10%{
        top: 36.2%;
        left: 70.8%;
        opacity: 0;
    }
    20%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
    30%{
        top: 36.2%;
        left: 70.8%;
        opacity: 0;
    }
    40%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
    50%{
        top: 36.2%;
        left: 70.8%;
        opacity: 0;
    }
    60%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
    70%{
        top: 36.2%;
        left: 70.8%;
        opacity: 0;
    } 
    80%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
    90%{
        top: 36.2%;
        left: 70.8%;
        opacity: 0;
    }

    100%{
        top: 36.2%;
        left: 70.8%;
        opacity: 1;
    }
}

.box11{
    width: 4.6%;
    height: 9%;
    transform: rotate(89deg);
    position: absolute;
    top: 43.2%;
    left: 71.7%;
}


.box11:hover {
    background: blue;
}

.box11-parpadeo {
    width: 4%;
    height: 8.6%;
    transform: rotate(89deg);
    position: absolute;
    top: 43.8%;
    left: 71.8%;
    background: blue;
    border-radius: 30px;
    animation: parpadeo11 10s infinite;
}

@keyframes parpadeo11{
    0%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
    10%{
        top: 43.8%;
        left: 71.8%;
        opacity: 0;
    }
    20%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
    30%{
        top: 43.8%;
        left: 71.8%;
        opacity: 0;
    }
    40%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
    50%{
        top: 43.8%;
        left: 71.8%;
        opacity: 0;
    }
    60%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
    70%{
        top: 43.8%;
        left: 71.8%;
        opacity: 0;
    } 
    80%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
    90%{
        top: 43.8%;
        left: 71.8%;
        opacity: 0;
    }

    100%{
        top: 43.8%;
        left: 71.8%;
        opacity: 1;
    }
}

.box12{
    width: 5.2%;
    height: 9%;
    transform: rotate(98deg);
    position: absolute;
    top: 51.1%;
    left: 71%;
}


.box12:hover {
    background: blue;
}

.box12-parpadeo {
    width: 4%;
    height: 8.4%;
    transform: rotate(100deg);
    position: absolute;
    top: 51.6%;
    left: 71.5%;
    background: white;
    border-radius: 30px;
    animation: parpadeo12 10s infinite;
}

@keyframes parpadeo12{
    0%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
    10%{
        top: 51.6%;
        left: 71.5%;
        opacity: 0;
    }
    20%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
    30%{
        top: 51.6%;
        left: 71.5%;
        opacity: 0;
    }
    40%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
    50%{
        top: 51.6%;
        left: 71.5%;
        opacity: 0;
    }
    60%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
    70%{
        top: 51.6%;
        left: 71.5%;
        opacity: 0;
    } 
    80%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
    90%{
        top: 51.6%;
        left: 71.5%;
        opacity: 0;
    }

    100%{
        top: 51.6%;
        left: 71.5%;
        opacity: 1;
    }
}


.box13{
    width: 5.5%;
    height: 9%;
    transform: rotate(106deg);
    position: absolute;
    top: 59.1%;
    left: 69.4%;
}


.box13:hover {
    background: blue;
}

.box13-parpadeo {
    width: 4%;
    height: 8.4%;
    transform: rotate(106deg);
    position: absolute;
    top: 59.6%;
    left: 70%;
    background: white;
    border-radius: 30px;
    animation: parpadeo13 10s infinite;
}

@keyframes parpadeo13{
    0%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
    10%{
        top: 59.6%;
        left: 70%;
        opacity: 0;
    }
    20%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
    30%{
        top: 59.6%;
        left: 70%;
        opacity: 0;
    }
    40%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
    50%{
        top: 59.6%;
        left: 70%;
        opacity: 0;
    }
    60%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
    70%{
        top: 59.6%;
        left: 70%;
        opacity: 0;
    } 
    80%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
    90%{
        top: 59.6%;
        left: 70%;
        opacity: 0;
    }

    100%{
        top: 59.6%;
        left: 70%;
        opacity: 1;
    }
}


.box14{
    width: 5.2%;
    height: 9%;
    transform: rotate(114deg);
    position: absolute;
    top: 66.5%;
    left: 67.2%;
}


.box14:hover {
    background: greenyellow;
}


.box15{
    width: 5.2%;
    height: 9%;
    transform: rotate(125deg);
    position: absolute;
    top: 73.2%;
    left: 64%;
}


.box15:hover {
    background: greenyellow;
}


.box16{
    width: 5%;
    height: 9%;
    transform: rotate(138deg);
    position: absolute;
    top: 78.8%;
    left: 59.8%;
}


.box16:hover {
    background: greenyellow;
}


.box17{
    width: 4.3%;
    height: 9%;
    transform: rotate(150deg);
    position: absolute;
    top: 82.8%;
    left: 55.2%;
}


.box17:hover {
    background: blue;
}


.box18{
    width: 4.7%;
    height: 8.5%;
    transform: rotate(159deg);
    position: absolute;
    top: 86.5%;
    left: 49.6%;
}


.box18:hover {
    background: blue;
}

.box19{
    width: 4.5%;
    height: 8.5%;
    transform: rotate(174deg);
    position: absolute;
    top: 88.4%;
    left: 43.5%;
}


.box19:hover {
    background: blue;
}


.box20{
    width: 5.6%;
    height: 8.5%;
    transform: rotate(180deg);
    position: absolute;
    top: 88.8%;
    left: 36.7%;
}


.box20:hover {
    background: greenyellow;
}


.box21{
    width: 4.6%;
    height: 8.8%;
    transform: rotate(184deg);
    position: absolute;
    top: 88.2%;
    left: 31.2%;
}


.box21:hover {
    background: blue;
}


.box22{
    width: 4.6%;
    height: 8.8%;
    transform: rotate(198deg);
    position: absolute;
    top: 85.8%;
    left: 25.2%;
}


.box22:hover {
    background: blue;
}


.box23{
    width: 4.4%;
    height: 8.8%;
    transform: rotate(211deg);
    position: absolute;
    top: 82.6%;
    left: 20.2%;
}


.box23:hover {
    background: blue;
}

.box24{
    width: 4.4%;
    height: 8.8%;
    transform: rotate(220deg);
    position: absolute;
    top: 78.2%;
    left: 15.2%;
}


.box24:hover {
    background: blue;
}

.box25{
    width: 4.7%;
    height: 9.2%;
    transform: rotate(232deg);
    position: absolute;
    top: 72.2%;
    left: 11.2%;
}


.box25:hover {
    background: greenyellow;
}

.box26{
    width: 4.5%;
    height: 9.2%;
    transform: rotate(245deg);
    position: absolute;
    top: 65.8%;
    left: 7.8%;
}


.box26:hover {
    background: blue;
}

.box27{
    width: 5.4%;
    height: 8.8%;
    transform: rotate(255deg);
    position: absolute;
    top: 58.8%;
    left: 5.1%;
}


.box27:hover {
    background: blue;
}

.box27-parpadeo {
    width: 5%;
    height: 8.2%;
    border-radius: 30px;
    background-color: white;
    transform: rotate(252deg);
    position: absolute;
    top: 59.2%;
    left: 5.3%;
    animation: parpadeo27 10s infinite;
}

@keyframes parpadeo27{
    0%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
    10%{
        top: 59.2%;
        left: 5.3%;
        opacity: 0;
    }
    20%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
    30%{
        top: 59.2%;
        left: 5.3%;
        opacity: 0;
    }
    40%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
    50%{
        top: 59.2%;
        left: 5.3%;
        opacity: 0;
    }
    60%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
    70%{
        top: 59.2%;
        left: 5.3%;
        opacity: 0;
    } 
    80%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
    90%{
        top: 59.2%;
        left: 5.3%;
        opacity: 0;
    }

    100%{
        top: 59.2%;
        left: 5.3%;
        opacity: 1;
    }
}

.box28{
    width: 5%;
    height: 9%;
    transform: rotate(260deg);
    position: absolute;
    top: 50.8%;
    left: 4%;
}


.box28:hover {
    background: blue;
}

.box28-parpadeo {
    width: 4.5%;
    height: 8%;
    transform: rotate(260deg);
    position: absolute;
    top: 51.4%;
    left: 4.2%;
    border-radius: 30px;
    background-color: white;
    animation: parpadeo28 10s infinite;
}

@keyframes parpadeo28{
    0%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
    10%{
        top: 51.4%;
        left: 4.2%;
        opacity: 0;
    }
    20%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
    30%{
        top: 51.4%;
        left: 4.2%;
        opacity: 0;
    }
    40%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
    50%{
        top: 51.4%;
        left: 4.2%;
        opacity: 0;
    }
    60%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
    70%{
        top: 51.4%;
        left: 4.2%;
        opacity: 0;
    } 
    80%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
    90%{
        top: 51.4%;
        left: 4.2%;
        opacity: 0;
    }

    100%{
        top: 51.4%;
        left: 4.2%;
        opacity: 1;
    }
}

.box29{
    width: 4.6%;
    height: 9%;
    transform: rotate(274deg);
    position: absolute;
    top: 43%;
    left: 4%;
}


.box29:hover {
    background: blue;
}

.box29-parpadeo {
    width: 4.2%;
    height: 8%;
    transform: rotate(270deg);
    position: absolute;
    top: 43.8%;
    left: 4.1%;
    border-radius: 30px;
    background-color: blue;
    animation: parpadeo29 10s infinite;
}

@keyframes parpadeo29{
    0%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
    10%{
        top: 43.8%;
        left: 4.1%;
        opacity: 0;
    }
    20%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
    30%{
        top: 43.8%;
        left: 4.1%;
        opacity: 0;
    }
    40%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
    50%{
        top: 43.8%;
        left: 4.1%;
        opacity: 0;
    }
    60%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
    70%{
        top: 43.8%;
        left: 4.1%;
        opacity: 0;
    } 
    80%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
    90%{
        top: 43.8%;
        left: 4.1%;
        opacity: 0;
    }

    100%{
        top: 43.8%;
        left: 4.1%;
        opacity: 1;
    }
}

.box30{
    width: 4.6%;
    height: 9%;
    transform: rotate(282deg);
    position: absolute;
    top: 36%;
    left: 4.5%;
}


.box30:hover {
    background: blue;
}

.box30-parpadeo {
    width: 4.2%;
    height: 8%;
    transform: rotate(282deg);
    position: absolute;
    top: 36.5%;
    left: 5%;
    border-radius: 30px;
    background-color: white;
    animation: parpadeo30 10s infinite;
}

@keyframes parpadeo30{
    0%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
    10%{
        top: 36.5%;
        left: 5%;
        opacity: 0;
    }
    20%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
    30%{
        top: 36.5%;
        left: 5%;
        opacity: 0;
    }
    40%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
    50%{
        top: 36.5%;
        left: 5%;
        opacity: 0;
    }
    60%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
    70%{
        top: 36.5%;
        left: 5%;
        opacity: 0;
    } 
    80%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
    90%{
        top: 36.5%;
        left: 5%;
        opacity: 0;
    }

    100%{
        top: 36.5%;
        left: 5%;
        opacity: 1;
    }
}

.box31{
    width: 4.6%;
    height: 8.7%;
    transform: rotate(294deg);
    position: absolute;
    top: 29%;
    left: 6.5%;
}


.box31:hover {
    background: greenyellow;
}

.box31-parpadeo {
    width: 4.2%;
    height: 8%;
    transform: rotate(290deg);
    position: absolute;
    top: 29.4%;
    left: 6.7%;
    border-radius: 30px;
    background-color: white;
    animation: parpadeo31 10s infinite;
}

@keyframes parpadeo31{
    0%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
    10%{
        top: 29.4%;
        left: 6.7%;
        opacity: 0;
    }
    20%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
    30%{
        top: 29.4%;
        left: 6.7%;
        opacity: 0;
    }
    40%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
    50%{
        top: 29.4%;
        left: 6.7%;
        opacity: 0;
    }
    60%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
    70%{
        top: 29.4%;
        left: 6.7%;
        opacity: 0;
    } 
    80%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
    90%{
        top: 29.4%;
        left: 6.7%;
        opacity: 0;
    }

    100%{
        top: 29.4%;
        left: 6.7%;
        opacity: 1;
    }
}

.box32{
    width: 4.8%;
    height: 8.7%;
    transform: rotate(306deg);
    position: absolute;
    top: 22.4%;
    left: 9.3%;
}


.box32:hover {
    background: blue;
}

.box32-parpadeo {
    width: 4.2%;
    height: 8%;
    transform: rotate(306deg);
    position: absolute;
    top: 22.6%;
    left: 9.6%;
    border-radius: 30px;
    background-color: white;
    animation: parpadeo32 10s infinite;
}

@keyframes parpadeo32{
    0%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
    10%{
        top: 22.6%;
        left: 9.6%;
        opacity: 0;
    }
    20%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
    30%{
        top: 22.6%;
        left: 9.6%;
        opacity: 0;
    }
    40%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
    50%{
        top: 22.6%;
        left: 9.6%;
        opacity: 0;
    }
    60%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
    70%{
        top: 22.6%;
        left: 9.6%;
        opacity: 0;
    } 
    80%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
    90%{
        top: 22.6%;
        left: 9.6%;
        opacity: 0;
    }

    100%{
        top: 22.6%;
        left: 9.6%;
        opacity: 1;
    }
}

.box33{
    width: 4.4%;
    height: 8.7%;
    transform: rotate(316deg);
    position: absolute;
    top: 16.4%;
    left: 13%;
}


.box33:hover {
    background: blue;
}


.box34{
    width: 5.6%;
    height: 8.7%;
    transform: rotate(324deg);
    position: absolute;
    top: 11.2%;
    left: 17.2%;
}


.box34:hover {
    background: blue;
}

.box35{
    width: 4.8%;
    height: 9%;
    transform: rotate(332deg);
    position: absolute;
    top: 7%;
    left: 22.8%;
}


.box35:hover {
    background: blue;
}

.box36{
    width: 4.8%;
    height: 9%;
    transform: rotate(342deg);
    position: absolute;
    top: 4%;
    left: 28.4%;
}


.box36:hover {
    background: blue;
}

.box37{
    width: 4.3%;
    height: 9%;
    transform: rotate(354deg);
    position: absolute;
    top: 3%;
    left: 34.4%;
}


.box37:hover {
    background: blue;
}

.box38{
    width: 4.7%;
    height: 9.6%;
    transform: rotate(368deg);
    position: absolute;
    top: 2.6%;
    left: 40.5%;
}


.box38:hover {
    background: blue;
}

.box39{
    width: 4.4%;
    height: 9.6%;
    transform: rotate(375deg);
    position: absolute;
    top: 3.8%;
    left: 46.5%;
}


.box39:hover {
    background: blue;
}

.box40{
    width: 5%;
    height: 9.6%;
    transform: rotate(390deg);
    position: absolute;
    top: 6.8%;
    left: 52%;
}


.box40:hover {
    background: greenyellow;
}

.box41 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 41%;
    left: 32.5%;
}


.box41:hover {
    background: blue;
}

.box41-parpadeo {
    width: 5.6%;
    height: 5%;
    border-radius: 30px;
    background: white;
    transform: rotate(146deg);
    position: absolute;
    top: 41.2%;
    left: 32.6%;
    animation: parpadeo41 10s infinite;
}

@keyframes parpadeo41{
    0%{
        top: 41.2%;
    left: 32.6%;
        opacity: 1;
    }
    10%{
        top: 41.2%;
    left: 32.6%;
        opacity: 0;
    }
    20%{
        top: 41.2%;
    left: 32.6%;
        opacity: 1;
    }
    30%{
        top: 41.2%;
        left: 32.6%;
        opacity: 0;
    }
    40%{
        top: 41.2%;
        left: 32.6%;
        opacity: 1;
    }
    50%{
        top: 41.2%;
    left: 32.6%;
        opacity: 0;
    }
    60%{
        top: 41.2%;
    left: 32.6%;
        opacity: 1;
    }
    70%{
        top: 41.2%;
    left: 32.6%;
        opacity: 0;
    } 
    80%{
        top: 41.2%;
        left: 32.6%;
        opacity: 1;
    }
    90%{
        top: 41.2%;
        left: 32.6%;
        opacity: 0;
    }

    100%{
        top: 41.2%;
    left: 32.6%;
        opacity: 1;
    }
}

.box42 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 35.8%;
    left: 29.8%;
}


.box42:hover {
    background: blue;
}

.box42-parpadeo {
    width: 5.6%;
    height: 5%;
    border-radius: 30px;
    background: blue;
    transform: rotate(146deg);
    position: absolute;
    top: 36.2%;
    left: 29.8%;
    animation: parpadeo42 10s infinite;
}

@keyframes parpadeo42{
    0%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
    10%{
        top: 36.2%;
        left: 29.8%;
        opacity: 0;
    }
    20%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
    30%{
        top: 36.2%;
        left: 29.8%;
        opacity: 0;
    }
    40%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
    50%{
        top: 36.2%;
        left: 29.8%;
        opacity: 0;
    }
    60%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
    70%{
        top: 36.2%;
        left: 29.8%;
        opacity: 0;
    } 
    80%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
    90%{
        top: 36.2%;
        left: 29.8%;
        opacity: 0;
    }

    100%{
        top: 36.2%;
        left: 29.8%;
        opacity: 1;
    }
}

.box43 {
    width: 5.7%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 30.9%;
    left: 26.9%;
}


.box43:hover {
    background: blue;
}

.box43-parpadeo {
    width: 5.6%;
    height: 4.8%;
    border-radius: 30px;
    background: white;
    transform: rotate(146deg);
    position: absolute;
    top: 31.1%;
    left: 27%;
    animation: parpadeo43 10s infinite;
}

@keyframes parpadeo43{
    0%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
    10%{
        top: 31.1%;
        left: 27%;
        opacity: 0;
    }
    20%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
    30%{
        top: 31.1%;
        left: 27%;
        opacity: 0;
    }
    40%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
    50%{
        top: 31.1%;
        left: 27%;
        opacity: 0;
    }
    60%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
    70%{
        top: 31.1%;
        left: 27%;
        opacity: 0;
    } 
    80%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
    90%{
        top: 31.1%;
        left: 27%;
        opacity: 0;
    }

    100%{
        top: 31.1%;
        left: 27%;
        opacity: 1;
    }
}

.box44 {
    width: 5.7%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 25.8%;
    left: 24.2%;
}


.box44:hover {
    background: blue;
}

.box44-parpadeo {
    width: 5.6%;
    height: 4.8%;
    border-radius: 30px;
    background: white;
    transform: rotate(146deg);
    position: absolute;
    top: 26.2%;
    left: 24.2%;
    animation: parpadeo44 10s infinite;
}

@keyframes parpadeo44{
    0%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
    10%{
        top: 26.2%;
        left: 24.2%;
        opacity: 0;
    }
    20%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
    30%{
        top: 26.2%;
        left: 24.2%;
        opacity: 0;
    }
    40%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
    50%{
        top: 26.2%;
        left: 24.2%;
        opacity: 0;
    }
    60%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
    70%{
        top: 26.2%;
        left: 24.2%;
        opacity: 0;
    } 
    80%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
    90%{
        top: 26.2%;
        left: 24.2%;
        opacity: 0;
    }

    100%{
        top: 26.2%;
        left: 24.2%;
        opacity: 1;
    }
}


.box45 {
    width: 6%;
    height: 6%;
    transform: rotate(146deg);
    position: absolute;
    top: 19.8%;
    left: 20.9%;
}


.box45:hover {
    background: greenyellow;
}

.box45-parpadeo {
    width: 5.4%;
    height: 5.6%;
    border-radius: 30px;
    background: white;
    transform: rotate(146deg);
    position: absolute;
    top: 20.2%;
    left: 21.2%;
    animation: parpadeo45 10s infinite;
}

@keyframes parpadeo45{
    0%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
    10%{
        top: 20.2%;
        left: 21.2%;
        opacity: 0;
    }
    20%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
    30%{
        top: 20.2%;
        left: 21.2%;
        opacity: 0;
    }
    40%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
    50%{
        top: 20.2%;
        left: 21.2%;
        opacity: 0;
    }
    60%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
    70%{
        top: 20.2%;
        left: 21.2%;
        opacity: 0;
    } 
    80%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
    90%{
        top: 20.2%;
        left: 21.2%;
        opacity: 0;
    }

    100%{
        top: 20.2%;
        left: 21.2%;
        opacity: 1;
    }
}

.box46 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 51%;
    left: 30.2%;
}


.box46:hover {
    background: greenyellow;
}

.box46-parpadeo {
    width: 5.4%;
    height: 5%;
    border-radius: 30px;
    background-color: white;
    transform: rotate(252deg);
    position: absolute;
    top: 50.9%;
    left: 30.2%;
    animation: parpadeo46 10s infinite;
}

@keyframes parpadeo46{
    0%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
    10%{
        top: 50.9%;
        left: 30.2%;
        opacity: 0;
    }
    20%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
    30%{
        top: 50.9%;
        left: 30.2%;
        opacity: 0;
    }
    40%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
    50%{
        top: 50.9%;
        left: 30.2%;
        opacity: 0;
    }
    60%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
    70%{
        top: 50.9%;
        left: 30.2%;
        opacity: 0;
    } 
    80%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
    90%{
        top: 50.9%;
        left: 30.2%;
        opacity: 0;
    }

    100%{
        top: 50.9%;
        left: 30.2%;
        opacity: 1;
    }
}

.box47 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 52.8%;
    left: 25.2%;
}


.box47:hover {
    background: blue;
}

.box47-parpadeo {
    width: 5.4%;
    height: 5%;
    border-radius: 30px;
    background-color: white;
    transform: rotate(252deg);
    position: absolute;
    top: 52.8%;
    left: 25.5%;
    animation: parpadeo47 10s infinite;
}

@keyframes parpadeo47{
    0%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
    10%{
        top: 52.8%;
        left: 25.5%;
        opacity: 0;
    }
    20%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
    30%{
        top: 52.8%;
        left: 25.5%;
        opacity: 0;
    }
    40%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
    50%{
        top: 52.8%;
        left: 25.5%;
        opacity: 0;
    }
    60%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
    70%{
        top: 52.8%;
        left: 25.5%;
        opacity: 0;
    } 
    80%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
    90%{
        top: 52.8%;
        left: 25.5%;
        opacity: 0;
    }

    100%{
        top: 52.8%;
        left: 25.5%;
        opacity: 1;
    }
}

.box48 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 54.6%;
    left: 20.3%;
}


.box48:hover {
    background: blue;
}

.box48-parpadeo {
    width: 5.4%;
    height: 5%;
    border-radius: 30px;
    background-color: white;
    transform: rotate(252deg);
    position: absolute;
    top: 54.7%;
    left: 20.7%;
    animation: parpadeo48 10s infinite;
}

@keyframes parpadeo48{
    0%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
    10%{
        top: 54.7%;
        left: 20.7%;
        opacity: 0;
    }
    20%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
    30%{
        top: 54.7%;
        left: 20.7%;
        opacity: 0;
    }
    40%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
    50%{
        top: 54.7%;
        left: 20.7%;
        opacity: 0;
    }
    60%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
    70%{
        top: 54.7%;
        left: 20.7%;
        opacity: 0;
    } 
    80%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
    90%{
        top: 54.7%;
        left: 20.7%;
        opacity: 0;
    }

    100%{
        top: 54.7%;
        left: 20.7%;
        opacity: 1;
    }
}

.box49 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 56.4%;
    left: 15.8%;
}


.box49:hover {
    background: blue;
}

.box49-parpadeo {
    width: 5.4%;
    height: 5%;
    border-radius: 30px;
    background-color: blue;
    transform: rotate(252deg);
    position: absolute;
    top: 56.6%;
    left: 15.9%;
    animation: parpadeo49 10s infinite;
}

@keyframes parpadeo49{
    0%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
    10%{
        top: 56.6%;
        left: 15.9%;
        opacity: 0;
    }
    20%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
    30%{
        top: 56.6%;
        left: 15.9%;
        opacity: 0;
    }
    40%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
    50%{
        top: 56.6%;
        left: 15.9%;
        opacity: 0;
    }
    60%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
    70%{
        top: 56.6%;
        left: 15.9%;
        opacity: 0;
    } 
    80%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
    90%{
        top: 56.6%;
        left: 15.9%;
        opacity: 0;
    }

    100%{
        top: 56.6%;
        left: 15.9%;
        opacity: 1;
    }
}

.box50 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 58.4%;
    left: 11%;
}


.box50:hover {
    background: blue;
}

.box50-parpadeo {
    width: 5.4%;
    height: 5%;
    border-radius: 30px;
    background-color: white;
    transform: rotate(252deg);
    position: absolute;
    top: 58.5%;
    left: 11.1%;
    animation: parpadeo50 10s infinite;
}

@keyframes parpadeo50{
    0%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
    10%{
        top: 58.5%;
        left: 11.1%;
        opacity: 0;
    }
    20%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
    30%{
        top: 58.5%;
        left: 11.1%;
        opacity: 0;
    }
    40%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
    50%{
        top: 58.5%;
        left: 11.1%;
        opacity: 0;
    }
    60%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
    70%{
        top: 58.5%;
        left: 11.1%;
        opacity: 0;
    } 
    80%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
    90%{
        top: 58.5%;
        left: 11.1%;
        opacity: 0;
    }

    100%{
        top: 58.5%;
        left: 11.1%;
        opacity: 1;
    }
}

.box51 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 50.8%;
    left: 43.6%;
}


.box51:hover {
    background: blue;
}

.box51-parpadeo {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    border-radius: 30px;
    position: absolute;
    background: white;
    top: 51%;
    left: 43.6%;
    animation: parpadeo51 10s infinite;
}

@keyframes parpadeo51{
    0%{
        top: 51%;
    left: 43.6%;
        opacity: 1;
    }
    10%{
        top: 51%;
    left: 43.6%;
        opacity: 0;
    }
    20%{
        top: 51%;
        left: 43.6%;
        opacity: 1;
    }
    30%{
        top: 51%;
    left: 43.6%;
        opacity: 0;
    }
    40%{
        top: 51%;
        left: 43.6%;
        opacity: 1;
    }
    50%{
        top: 51%;
    left: 43.6%;
        opacity: 0;
    }
    60%{
        top: 51%;
    left: 43.6%;
        opacity: 1;
    }
    70%{
        top: 51%;
        left: 43.6%;
        opacity: 0;
    } 
    80%{
        top: 51%;
        left: 43.6%;
        opacity: 1;
    }
    90%{
        top: 51%;
        left: 43.6%;
        opacity: 0;
    }

    100%{
        top: 51%;
        left: 43.6%;
        opacity: 1;
    }
}

.box52 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 52.6%;
    left: 48.2%;
}


.box52:hover {
    background: greenyellow;
}


.box52-parpadeo {
    width: 5.4%;
    height: 4.8%;
    transform: rotate(108deg);
    border-radius: 30px;
    position: absolute;
    background: white;
    top: 53%;
    left: 48.3%;
    animation: parpadeo52 10s infinite;
}

@keyframes parpadeo52{
    0%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
    10%{
        top: 53%;
        left: 48.3%;
        opacity: 0;
    }
    20%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
    30%{
        top: 53%;
        left: 48.3%;
        opacity: 0;
    }
    40%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
    50%{
        top: 53%;
        left: 48.3%;
        opacity: 0;
    }
    60%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
    70%{
        top: 53%;
        left: 48.3%;
        opacity: 0;
    } 
    80%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
    90%{
        top: 53%;
        left: 48.3%;
        opacity: 0;
    }

    100%{
        top: 53%;
        left: 48.3%;
        opacity: 1;
    }
}

.box53 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 54.6%;
    left: 52.9%;
}


.box53:hover {
    background: blue;
}

.box53-parpadeo {
    width: 5.5%;
    height: 4.8%;
    transform: rotate(110deg);
    position: absolute;
    top: 54.7%;
    left: 53%;
    border-radius: 30px;
    background: white;

    animation: parpadeo53 10s infinite;
}

@keyframes parpadeo53{
    0%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
    10%{
        top: 54.7%;
        left: 53%;
        opacity: 0;
    }
    20%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
    30%{
        top: 54.7%;
        left: 53%;
        opacity: 0;
    }
    40%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
    50%{
        top: 54.7%;
        left: 53%;
        opacity: 0;
    }
    60%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
    70%{
        top: 54.7%;
        left: 53%;
        opacity: 0;
    } 
    80%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
    90%{
        top: 54.7%;
        left: 53%;
        opacity: 0;
    }

    100%{
        top: 54.7%;
        left: 53%;
        opacity: 1;
    }
}

.box54 {
    width: 5.8%;
    height: 5.6%;
    transform: rotate(108deg);
    position: absolute;
    top: 56.2%;
    left: 57.6%;
}


.box54:hover {
    background: blue;
}


.box54-parpadeo {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(104deg);
    position: absolute;
    top: 56.5%;
    left: 57.5%;
    border-radius: 30px;
    background: white;

    animation: parpadeo54 10s infinite;
}

@keyframes parpadeo54{
    0%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
    10%{
        top: 56.5%;
        left: 57.5%;
        opacity: 0;
    }
    20%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
    30%{
        top: 56.5%;
        left: 57.5%;
        opacity: 0;
    }
    40%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
    50%{
        top: 56.5%;
        left: 57.5%;
        opacity: 0;
    }
    60%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
    70%{
        top: 56.5%;
        left: 57.5%;
        opacity: 0;
    } 
    80%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
    90%{
        top: 56.5%;
        left: 57.5%;
        opacity: 0;
    }

    100%{
        top: 56.5%;
        left: 57.5%;
        opacity: 1;
    }
}

.box55 {
    width: 6.4%;
    height: 5.6%;
    transform: rotate(108deg);
    position: absolute;
    top: 58.2%;
    left: 62.4%;
}


.box55:hover {
    background: blue;
}

.box55-parpadeo {
    width: 5.7%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 58.4%;
    left: 62.8%;
    border-radius: 30px;
    background: white;

    animation: parpadeo55 10s infinite;
}

@keyframes parpadeo55{
    0%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
    10%{
        top: 58.4%;
        left: 62.8%;
        opacity: 0;
    }
    20%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
    30%{
        top: 58.4%;
        left: 62.8%;
        opacity: 0;
    }
    40%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
    50%{
        top: 58.4%;
        left: 62.8%;
        opacity: 0;
    }
    60%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
    70%{
        top: 58.4%;
        left: 62.8%;
        opacity: 0;
    } 
    80%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
    90%{
        top: 58.4%;
        left: 62.8%;
        opacity: 0;
    }

    100%{
        top: 58.4%;
        left: 62.8%;
        opacity: 1;
    }
}

/* SEGUIR POR AQUI!!! CONTINUAR!! */
.box56 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 59.7%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box56:hover {
    background: blue;
}


.box56-parpadeo {
    width: 5.6%;
    height: 4.8%;
    position: absolute;
    top: 59.7%;
    left: 46.8%;
    transform: translate(-180%, -50%);
    border-radius: 30px;
    background: white;
    animation: parpadeo56 10s infinite;
}

@keyframes parpadeo56{
    0%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
    10%{
        top: 59.7%;
        left: 46.8%;
        opacity: 0;
    }
    20%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
    30%{
        top: 59.7%;
        left: 46.8%;
        opacity: 0;
    }
    40%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
    50%{
        top: 59.7%;
        left: 46.8%;
        opacity: 0;
    }
    60%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
    70%{
        top: 59.7%;
        left: 46.8%;
        opacity: 0;
    } 
    80%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
    90%{
        top: 59.7%;
        left: 46.8%;
        opacity: 0;
    }

    100%{
        top: 59.7%;
        left: 46.8%;
        opacity: 1;
    }
}

.box57 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 65.8%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box57:hover {
    background: blue;
}

.box57-parpadeo {
    width: 5.6%;
    height: 4.8%;
    position: absolute;
    top: 65.8%;
    left: 46.85%;
    transform: translate(-180%, -50%);
    border-radius: 30px;
    background: white;
    animation: parpadeo57 10s infinite;
}

@keyframes parpadeo57{
    0%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
    10%{
        top: 65.8%;
        left: 46.85%;
        opacity: 0;
    }
    20%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
    30%{
        top: 65.8%;
        left: 46.85%;
        opacity: 0;
    }
    40%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
    50%{
        top: 65.8%;
        left: 46.85%;
        opacity: 0;
    }
    60%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
    70%{
        top: 65.8%;
        left: 46.85%;
        opacity: 0;
    } 
    80%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
    90%{
        top: 65.8%;
        left: 46.85%;
        opacity: 0;
    }

    100%{
        top: 65.8%;
        left: 46.85%;
        opacity: 1;
    }
}

.box58 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 72%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box58:hover {
    background: blue;
}

.box58-parpadeo {
    width: 5.6%;
    height: 4.8%;
    position: absolute;
    top: 72%;
    left: 46.85%;
    transform: translate(-180%, -50%);
    border-radius: 30px;
    background: white;
    animation: parpadeo58 10s infinite;
}

@keyframes parpadeo58{
    0%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
    10%{
        top: 72%;
        left: 46.85%;
        opacity: 0;
    }
    20%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
    30%{
        top: 72%;
        left: 46.85%;
        opacity: 0;
    }
    40%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
    50%{
        top: 72%;
        left: 46.85%;
        opacity: 0;
    }
    60%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
    70%{
        top: 72%;
        left: 46.85%;
        opacity: 0;
    } 
    80%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
    90%{
        top: 72%;
        left: 46.85%;
        opacity: 0;
    }

    100%{
        top: 72%;
        left: 46.85%;
        opacity: 1;
    }
}

.box59 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 78.2%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box59:hover {
    background: blue;
}

.box59-parpadeo {
    width: 5.6%;
    height: 4.8%;
    position: absolute;
    top: 78.2%;
    left: 46.85%;
    transform: translate(-180%, -50%);
    border-radius: 30px;
    background: white;
    animation: parpadeo59 10s infinite;
}

@keyframes parpadeo59{
    0%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
    10%{
        top: 78.2%;
        left: 46.85%;
        opacity: 0;
    }
    20%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
    30%{
        top: 78.2%;
        left: 46.85%;
        opacity: 0;
    }
    40%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
    50%{
        top: 78.2%;
        left: 46.85%;
        opacity: 0;
    }
    60%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
    70%{
        top: 78.2%;
        left: 46.85%;
        opacity: 0;
    } 
    80%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
    90%{
        top: 78.2%;
        left: 46.85%;
        opacity: 0;
    }

    100%{
        top: 78.2%;
        left: 46.85%;
        opacity: 1;
    }
}

.box60 {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 85%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box60:hover {
    background: blue;
}

.box60-parpadeo {
    width: 5.6%;
    height: 5.5%;
    position: absolute;
    top: 85%;
    left: 46.85%;
    transform: translate(-180%, -50%);
    border-radius: 30px;
    background: blue;
    animation: parpadeo60 10s infinite;
}

@keyframes parpadeo60{
    0%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }
    10%{
        top: 85%;
        left: 46.85%;
        opacity: 0;
    }
    20%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }
    30%{
        top: 85%;
        left: 46.85%;
        opacity: 0;
    }
    40%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }
    50%{
        top: 85%;
        left: 46.85%;
        opacity: 0;
    }
    60%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }
    70%{
        top: 85%;
        left: 46.85%;
        opacity: 0;
    } 
    80%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }
    90%{
        top: 85%;
        left: 46.85%;
        opacity: 0;
    }

    100%{
        top: 85%;
        left: 46.85%;
        opacity: 1;
    }