/* normalitzacio d'estils */

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow: hidden;
}

/* navegacio admin */
.navegacio {
	height: 62px;
    background-color: #005a9e;
    position: relative;
    color: #fff;
}

.navegacio a {
	color: #4ba5e5;
}

#botoMenu {
	background: transparent;
	border: 0;
	color: white;
}

#logo {
	width: 120px;
}


.navegacio::after {
	position: absolute;
	width: 100%;
	height: 5px;
	content: '';
	left: 0;
	bottom: -5px;
	background-color: #4ba5e5;
}

#menuLateral {
	background-color: #eeeeee;
	width: 245px !important;
	transition: margin 0.2s ease-out;
}

.amagat {
	margin-left: -245px;
}

#menuList {
	list-style: none;
	padding: 0;
}

#menuList > li {
	display: block;
	padding: 20px 0px 20px 50px;
}

#menuList > li.active {
	background-color: #fff;
	position: relative;
}

#menuList > li.active::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #4ba5e5;
}

#menuList > li > a {
	color: #999;
	font-weight: none;
}

#menuList > li > a:hover {
	text-decoration: none;
}

#menuList > li.active > a {
	color: #005a9e;
}
/* fi navegacio */

/* footer */
#footerLogo {
	width: 175px;
}

#footer {
	background-color: #4ba5e5;
	color: #fff;
	font-size: 0.8rem;
	padding: 1rem;
	height: 62px;
}
/* fi footer */

/* base */
#mainRow {
	margin-top: 5px;
	height: calc(100% - 124px);
}

.scroll {
	overflow: auto;
}
/* fi base */

/* taules */
.custom-thead {
	background-color: #005a9e;
	color: #fff;
}

.grups {
    margin: 0 auto;
    display: block;
    overflow: hidden;
}