/* normalitzacio d'estils */

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow: hidden;
}

/* navegacio admin */
.navegacio {
	height: 62px;
    background-color: #005a9e;
    position: relative;
    color: #fff;
}

.navegacio a {
	color: #4ba5e5;
}

#botoMenu {
	background: transparent;
	border: 0;
	color: white;
}

#logo {
	width: 120px;
}


.navegacio::after {
	position: absolute;
	width: 100%;
	height: 5px;
	content: '';
	left: 0;
	bottom: -5px;
	background-color: #4ba5e5;
}

#menuLateral {
	background-color: #eeeeee;
	width: 245px !important;
	transition: margin 0.2s ease-out;
}

.amagat {
	margin-left: -245px;
}

#menuList {
	list-style: none;
	padding: 0;
}

#menuList > li {
	display: block;
	padding: 20px 0px 20px 50px;
}

#menuList > li.active {
	background-color: #fff;
	position: relative;
}

#menuList > li.active::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #4ba5e5;
}

#menuList > li > a {
	color: #999;
	font-weight: none;
}

#menuList > li > a:hover {
	text-decoration: none;
}

#menuList > li.active > a {
	color: #005a9e;
}
/* fi navegacio */

/* footer */
#footerLogo {
	width: 175px;
}

#footer {
	background-color: #CFCFCF;
	color: #515151;
	font-size: 0.8rem;
	padding: 1rem;
	height: 62px;
}
/* fi footer */

/* base */
#mainRow {
	margin-top: 5px;
	height: calc(100% - 124px);
}

.scroll {
	overflow: auto;
}
/* fi base */

/* taules */
table.dataTable.custom-table {
	border-bottom: 5px solid #ffd966 !important;
}

table.aligncenter .col {
	text-align: center!important;
}

.custom-table > thead {
	background-color: #005a9e;
	color: #fff;
}

.custom-table th, .custom-table td {
	vertical-align: middle;
}
/* fi taules */

/* text, links & buttons */
.link-blue {
	color: #4ba5e5;
	transition: all 0.2s ease-out;
}

.text-blue {
	color: #4ba5e5;
}

.link-blue:hover {
	color: #005a9e;
	text-decoration: none;
}

.link-orange {
	color: #e69138;
	transition: all 0.2s ease-out;
}

.link-orange:hover {
	color: #DA7B18;
	text-decoration: none;
}

.text-orange {
	color: #e69138;
}

.link-red {
	color: #cc0000;
	transition: all 0.2s ease-out;
}

.text-red {
	color: #cc0000;
}

.link-red:hover {
	color: #AE0505;
	text-decoration: none;
}

.link-green {
	color: #32CD32;
	transition: all 0.2s ease-out;
}

.link-white {
	color: #ffffff;
}

.link-green:hover {
	color: #228B22;
	text-decoration: none;
}

.custom-btn-link {
	padding: 5px;
}

.customAddBtn {
	color: #fff;
	background-color: #6aa84f;
	border-radius: 0;
}

.customAddBtn:hover {
	background-color: #228B22;
	color: #fff;

}

.link-grey-times {
	color: #C3C3C3;
}

.link-grey-times:hover {
	color: #A8A8A8;
	text-decoration: none;
}

.bg-list-grey:hover > .link-grey-times {
	color: #939393;
}

.bg-list-grey:hover > .link-grey-times:hover {
	color: #6F7172;
}

/* fi links & buttons */


.bg-list-grey {
	background-color: #F8F9FA;
} 

.bg-list-grey:hover {
	background-color: #DFDFDF;
}

.grups {
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.padding {
	padding: 50px;
}

.nodeco {
	text-decoration: none!important;
}

.afegirgrup input, .afegirgrup label {
    width: 35%;
    display: block;
}

.afegirgrup input {
    margin-bottom: 15px;
}

/* LLEGENDA TAULA */

.llegenda-taula {
	overflow: hidden;
	width: 100%;
	padding-top: 15px;
}

/* AFEGIR BUTTON */

.afegirbtn {
	margin-top: 15px;
}

/* LLISTAT ALUMNES ETC */

.elementLlistaAlumnes, .elementLlistaAlumnesTd {
	width: 100%;
	display: block;
}

.elementLlistaAlumnes {
	padding: 10px;
	transition: background-color .4s ease-in-out;
	border: 2px solid transparent;
	border-bottom: 1px solid rgba(41,41,41,0.2);
}

.elementLlistaAlumnes:hover {
	background-color: rgba(0,0,0,0.1);
}

.usuariSeleccionat {
	background-color: rgba(0,255,0,0.1);
}

/* MODAL FIX PADDING RIGHT */

.modal-open {
	padding-right: 0px!important;
}

/* PARTIDA MENU STYLES */

#startMenu {
	width: 350px;
	background-color: rgba(41,41,41,0.8);
	overflow: hidden;
	display: table-cell;
	vertical-align: bottom;
}

#startMenu h1, #startMenu ul li {
	color: white;
}

#startMenu li {
	
}

#diagonalColorStart {
	background-color: rgba(255,255,255,0.3);
	display: block;
	width: 900px;
	height: 1200px;
	transform: rotate(-30deg);
	margin-top: calc(100% - 220px);
}

#startMenu li a {
	border: 0px;
	border-radius: 0px;
	background-color: transparent!important;
	font-size: 20px;
}

#startMenu #sortirElement {
	color: red!important;
	font-weight: bold;
}

#startMenu li a:hover {
	color: orange!important;
	background-color: rgba(0,0,0,0.3)!important;
	transform: scale(1.05);
}

#contingutStart {
	width: calc(100% - 350px);
	background-color: rgba(41,41,41,1);
}

#contingutStart .container {
	width: 100%;
	max-width: none!important;
}

#contingutStart h2 {
	color: white;
}

.list-group {
	list-style: none;
}

.list-group a {
	text-decoration: none;
	color: inherit!important;
}

/* PARTIDA MENU STYLES END */

/* PREPARAR PARTIDA INTRO */

#cardPartida {
	background-color: rgba(255,255,255,0.1);
	margin: 0 auto;
	color: white;
	border-radius: 5px;
}

#cardPartida #prepararPartida {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
}

#rankingJugadors {
	width: 100%;
	color: white;
}

#rankingJugadors th, #rankingJugadors td {
	padding: 10px;
}

#rankingJugadors tr:nth-child(1) {
	border-bottom: 1px solid white;
}

#rankingJugadors th:nth-child(2), #rankingJugadors td:nth-child(2) {
	text-align: center;
	border-left: 1px dotted white;
}

#rankingJugadors th:nth-child(1), #rankingJugadors th:nth-child(1) {
	width: 70%;
}

#rankingJugadors td:nth-child(2), #rankingJugadors td:nth-child(2) {
	width: 30%;
}

/* PREPARAR PARTIDA INTRO END */

/* TRANSICIONS */

.alltransition3 {
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.alltransitionparent3 *{
	-moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* TRANSICIONS END */