/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* FONTS END */

/* normalitzacio d'estils */

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow: hidden;
}

/* navegacio admin */
.navegacio {
	height: 62px;
    background-color: #005a9e;
    position: relative;
    color: #fff;
}

.navegacio a {
	color: #4ba5e5;
}

#botoMenu {
	background: transparent;
	border: 0;
	color: white;
}

#logo {
	width: 120px;
}

.navegacio::after {
	position: absolute;
	width: 100%;
	height: 5px;
	content: '';
	left: 0;
	bottom: -5px;
	background-color: #4ba5e5;
	z-index: 2;
}

#menuLateral {
	background-color: #eeeeee;
	width: 245px !important;
	transition: margin 0.2s ease-out;
}

.amagat {
	margin-left: -245px;
}

#menuList {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

#menuList > li {
	display: block;
	padding: 20px 0px 20px 40px;
}

#menuList > li:hover {
	background-color: #E0E0E0;
}

#menuList > li.active {
	background-color: #fff;
	position: relative;
}

#menuList > li.active::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #4ba5e5;
}

#menuList > li > a {
	color: #999;
	font-weight: none;
}

#menuList > li > a:hover {
	text-decoration: none;
}

#menuList > li.active > a {
	color: #005a9e;
}
/* fi navegacio */

/* footer */
#footerLogo {
	width: 175px;
}

#footer {
	background-color: #CFCFCF;
	color: #515151;
	font-size: 0.8rem;
	padding: 1rem;
	height: 62px;
}
/* fi footer */

/* base */
#mainRow {
	margin-top: 5px;
	height: calc(100% - 124px);
}

.scroll {
	overflow: auto;
}
/* fi base */

/* taules */
table.dataTable.custom-table {
	border-bottom: 5px solid #ffd966 !important;
}

table.aligncenter .col {
	text-align: center!important;
}

.custom-table > thead {
	background-color: #005a9e;
	color: #fff;
}

.custom-table th, .custom-table td {
	vertical-align: middle;
}
/* fi taules */

/* text, links & buttons */
.link-blue {
	color: #4ba5e5;
	transition: all 0.2s ease-out;
}

.text-blue {
	color: #4ba5e5;
}

.link-blue:hover {
	color: #005a9e;
	text-decoration: none;
}

.link-orange {
	color: #e69138;
	transition: all 0.2s ease-out;
}

.link-orange:hover {
	color: #DA7B18;
	text-decoration: none;
}

.text-orange {
	color: #e69138;
}

.link-red {
	color: #cc0000;
	transition: all 0.2s ease-out;
}

.text-red {
	color: #cc0000;
}

.link-red:hover {
	color: #AE0505;
	text-decoration: none;
}

.link-green {
	color: #32CD32;
	transition: all 0.2s ease-out;
}

.link-white {
	color: #ffffff;
}

.link-green:hover {
	color: #228B22;
	text-decoration: none;
}

.custom-btn-link {
	padding: 5px;
}

.customAddBtn {
	color: #fff;
	background-color: #6aa84f;
	border-radius: 0;
}

.customOutlineBtn {
	border: 2px solid #6aa84f;
	color: #6aa84f;
	border-radius: 0px;
}

.customOutlineBtn:hover {
	border-color: #228B22;;
	color: #228B22;
}

.customBlueBtn {
	color: #fff;
	background-color: #4ba5e5;
	border-radius: 0;
}

.customBlueBtn:hover {
	background-color: #005a9e;
	color: #fff;

}

.customAddBtn:hover {
	background-color: #228B22;
	color: #fff;

}

.link-grey-times {
	color: #C3C3C3;
}

.link-grey-times:hover {
	color: #A8A8A8;
	text-decoration: none;
}

.bg-list-grey:hover > .link-grey-times {
	color: #939393;
}

.bg-list-grey:hover > .link-grey-times:hover {
	color: #6F7172;
}

/* fi links & buttons */


.bg-list-grey {
	background-color: #F8F9FA;
} 

.bg-list-grey:hover {
	background-color: #DFDFDF;
}

.grups {
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.padding {
	padding: 50px;
}

.nodeco {
	text-decoration: none!important;
}

.disabledBtn {
	filter: brightness(0.5);
}

.afegirForm {
	max-width: 680px;
}

.afegirForm input, .afegirForm label {
    width: 100%;
    display: block;
}

.afegirForm > div {
	overflow: hidden;
	margin-bottom: 20px;
}

.afegirForm select {
	border: 1px solid #ced4da;
	padding: .375rem .75rem;
	line-height: 1.5;
	height: calc(1.5em + .75rem + 2px);
	border-radius: .25rem;
}

.afegirForm input[type='submit'] {
	max-width: 120px;
	float: left;
}

#tornarBdcmBtn {
	margin-bottom: 10px;
	display: block;
}

#tornarBdcmBtn.llistatalumnes {
	float: left;
	margin-top: 10px;
}

#grup_datainici, #grup_datafinal, #grup_idNivell {
	margin-bottom: 10px;
}

#grup_datainici_time, #grup_datafinal_time {
	margin-top: 8px;
	position: relative;
	overflow: hidden;
}

#grup_datainici_time select:first-child, #grup_datafinal_time select:first-child {
	margin-right: 5px;
}

#grup_datainici_time select:last-child, #grup_datafinal_time select:last-child {
	margin-left: 5px;
}

/* LLEGENDA TAULA */

.llegenda-taula {
	overflow: hidden;
	width: 100%;
	padding-top: 15px;
}

/* AFEGIR BUTTON */

.afegirbtn {
	margin-top: 15px;
}

#afegirNivellb {
	margin-right: 10px;
}

/* LLISTAT ALUMNES ETC */

.elementLlistaAlumnes, .elementLlistaAlumnesTd, .elementLlistaJugadors, .elementLlistaJugadorsTd, .elementLlistaTemes, .elementLlistaTemesTd {
	width: 100%;
	display: block;
}

.elementLlistaAlumnes, .elementLlistaJugadors, .elementLlistaTemes {
	padding: 10px;
	transition: background-color .4s ease-in-out;
	border: 2px solid transparent;
	border-bottom: 1px solid rgba(41,41,41,0.2);
}

.elementLlistaAlumnes:hover, .elementLlistaJugadors:hover, .elementLlistaTemes:hover {
	background-color: rgba(0,0,0,0.1);
}

.usuariSeleccionat, .temaSeleccionat {
	background-color: rgba(0,255,0,0.1);
}

#afegirJugadorsBtn {
	/*margin-top: 15px;*/
}

.temaNum {
	float: right;
}

.grupNom, .grupTemes {
	overflow: hidden;
}

/* MODAL FIX PADDING RIGHT */

.modal-open {
	padding-right: 0px!important;
}

/* PARTIDA MENU STYLES */

#startMenu {
	width: 350px;
	background-color: rgba(41,41,41,0.8);
	overflow: hidden;
	display: table-cell;
	vertical-align: bottom;
}

#startMenuUl .active {
	color: #005a9e!important;
	transform: scaleX(1.05);
	background-color: rgba(0,0,0,0.2)!important;
	font-weight: bold;
	filter: brightness(2);

	padding-left: 40px;
}

#startMenuUl .active:hover {
	filter: brightness(1)!important;
}

#startMenu h1, #startMenu ul li {
	color: white;
}

#startMenu li {
	
}

#diagonalColorStart {
	background-color: rgba(255,255,255,0.3);
	display: block;
	width: 900px;
	height: 1200px;
	transform: rotate(-30deg);
	margin-top: calc(100% - 220px);
}

#startMenu li a {
	border: 0px;
	border-radius: 0px;
	background-color: transparent!important;
	font-size: 20px;
	box-sizing: border-box;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#startMenu #sortirElement {
	color: red!important;
	filter: brightness(2);
}

#startMenu li a:hover {
	color: orange!important;
	background-color: rgba(0,0,0,0.3)!important;
	transform: scaleX(1.05);
}

#contingutStart {
	width: calc(100% - 350px);
	background-color: rgba(41,41,41,1);
	overflow: auto;
	height: 100%;
}

#contingutStart .container {
	width: 100%;
	max-width: none!important;
}

#contingutStart h2 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.list-group {
	list-style: none;
}

.list-group a {
	text-decoration: none;
	color: inherit!important;
}

/* PARTIDA MENU STYLES END */

/* PREPARAR PARTIDA INTRO */

#multiplayerContainer {
	margin: 0px!important;
}

#multiplayerContainer .container, #multiplayerContainer .row {
	padding: 0px!important;
	margin: 0px;
}

#multiplayerLobby {
	
}

#multiplayerContainer h3, #multiplayerLobby h3 {
	color: white;
}

#verticalCardsContainer, #topLobby {
	margin-top: 15px!important;
}

#multiHighlight {
	margin-top: 35px!important;
}

#playMultiplayerCard {
	padding-left: 0px;
	overflow: hidden;
}

#playMultiplayerCard a {
	width: 100%;
	display: table;
	height: 450px;
	width: 100%;
	background-color: rgba(255,255,255,0.1);

	text-decoration: none;
}

#playMultiplayerCard:hover p {
	transform: scale(1.3);
}

#playMultiplayerCard:hover a {
	box-shadow: inset 1px 1px 20px rgba(255,255,255,0.7);
}

#playMultiplayerCard img {
	display: block;
	margin: 0px!important;
	width: calc(100% - 7.5px);
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	z-index: 85;
}

#playMultiplayerCard p {
	display: table-cell;
	vertical-align: middle;
	top: 0;
	width: 100%;
	text-align: center;
	color: white;

	text-transform: uppercase;
	font-size: 25px;

	z-index: 90;
}

#playMultiplayerCard a:hover p {
	text-decoration: none!important;
}

#playMultiplayerCard, #cardRanking {
	display: block;
}

#cardRanking {
	background-color: rgba(255,255,255,0.1);
	color: white;
}

#cardRanking {
	padding: 20px!important;
}

#rankingJugadors {
	width: 100%;
	color: white;
	box-sizing: border-box;

	min-height: 250px;
}

#rankingJugadors th, #rankingJugadors td {
	padding: 10px;
}

#rankingJugadors_wrapper .col-sm-12 {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

#rankingJugadors thead {
	background-color: rgba(41,41,41,0.4);
}

#rankingJugadors tr:nth-child(1) {
	border-bottom: 1px solid white;
}

input[type=text],
input[type=password] {
    box-sizing : border-box;
}

/* BACKGROUND ROTATE */

.backgroundRotate {
	position: absolute;
	right: 0;
	transform: translate(50%, 50%);
	display: table;

	min-height: 400px;
}

.backgroundRotate img {
	transform-origin: center middle;
	animation: rotate360 50s infinite;
	animation-timing-function: linear;
}

/* BACKGROUND ROTATE END */

/* TEMP */

#rankingJugadors_filter, #rankingJugadors_info {
	display: none;
}


/* TEMP END */

#rankingJugadors_wrapper div.dataTables_filter label {
	width: 100%;
}

#rankingJugadors_wrapper div.dataTables_filter input {
	width: auto;
	box-sizing: border-box;
}

#rankingJugadors th:nth-child(3), #rankingJugadors td:nth-child(3) {
	text-align: center;
	border-left: 1px dotted white;
	width: 25%;
}

#rankingJugadors th:nth-child(1), #rankingJugadors th:nth-child(1) {
	text-align: center;
	border-right: 1px dotted white;
	width: 10%;
}

#rankingJugadors th:nth-child(2), #rankingJugadors th:nth-child(2) {
	width: 70%;
}


.verticalCard {
	display: block;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px!important;
}

#vertical1 a {
	background-image: url("../img/Vertical1.png");
}

#vertical2 a {
	background-image: url("../img/stats.png");
}

#vertical3 a {
	background-image: url("../img/compara.png");
}

#vertical4 a {
	background-image: url("../img/train.png");
}

.verticalCardDesc {
	background-color: rgba(0,0,0,0.5);
}

.verticalCard:hover .verticalCardDesc {
	opacity: 0;
}

.verticalCard a {
	position: relative;
	display: table;
	background-color: rgba(255,255,255,0.2);

	height: 300px;
	text-decoration: none;

	background-size: cover;
	background-repeat: no-repeat;
}

.verticalCard img {
	width: 100%;
	position: absolute;

	z-index: 85;
}

.verticalCard p {
	top: 0;
	color: white;
	font-size: 23px;
	box-sizing: border-box;

	padding: 10px;
	text-transform: uppercase;

	display: table-cell;
	vertical-align: middle;

	z-index: 90;
	width: 100%;
	text-align: center;

	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

/* PREPARAR PARTIDA INTRO END */

/* PARTIDA LOBBY */

#tipusPartidaSlider, .carousel-inner, .carousel-inner * {
	max-height: 350px;
}

.carousel-inner {
	min-height: 300px;
	position: relative;
}

#tipusPartidaSlider {
	background-color: rgba(0,180,255,0.7);
}

.carousel-item, .carouselVertical {
	height: 100%;
}

.carouselVertical {
	width: 100%;
	height: 100%;
	display: table;
}

.ontopCarousel {
	position: relative;
	width: 100%;
	text-align: center;

	color: white;

	display: table-cell;
	vertical-align: middle;

	font-size: 25px;
	text-transform: uppercase;
	padding: 0px 30px;
}

#playerList {
	color: white;
	flex: none!important;

	width: 50%!important;
	max-width: none!important;

	min-height: 310px;
}

#playerList ul {
	list-style: none;
	width: 100%;
	padding: 0px;
}

#playerList ul li {
	position: relative;
}

#playerList ul li a {
	width: 100%;
	border-bottom: 1px solid white;
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;

	text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
	padding: 5px;

	overflow: hidden;
	
}

#playerList ul li:hover {
	color: orange!important;
	filter: brightness(1.1);
}

#playerList ul li:nth-child(2) a {
	border-top: 1px solid white;
}

#playerListHead {
	padding-bottom: 10px;
}

#afegirJugador {
	float: right;
}

.tableNormes, #llistatGrupsJoc {
	color: white;
	list-style: none;
}

#llistatGrupsJoc {
	padding: 0px;
}

#llistatGrupsJoc a {
	font-size: 15px!important;
}

/* RESUM ALUMNE */

.grupAlumne {
	background-color: rgba(41,41,41,0.2);
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}

#alumneContainer {
	margin-top: 30px;
}

.alumneWrap, #alumneContainer {
	width: 100%!important;
	max-width: none!important;

	margin-right: 0px!important;
	margin-left: 0px!important;
}

.alumneDetails {
	max-width: 500px;
}

.alumneDetails label {
	font-weight: bold;
	width: 150px;
}

#alumneGrupsLabel {
	float: left;
}

#alumneGrupsDetail {
	width: calc(100% - 150px);
	float: left;
}

.alumneDetails label, .alumneDetails p {
	float: left;
}

.alumneProfile {
	min-width: 175px;
	max-height: 160px;

	text-align: center;

	background-color: rgba(41,41,41,0.05);
	display: block;
}

#alumneMiniatura {
	font-size: 100px;
}

.detailCamp {
	width: 100%;
	display: block;
	overflow: hidden;
}

/* RESUM ALUMNE END */

#containerNormesStart {
	margin-top: 40px;
	padding-right: 0px;
}

.playPartidaCard {
	height: 280px;
	display: block;

	background-color: rgba(255,255,255,0.2);
}

.playPartidaCard a {
	height: 100%;
	width: 100%;
	display: table;

	text-decoration: none;
}

.playPartidaCard:hover a {
	box-shadow: inset 1px 1px 20px rgba(255,255,255,0.7);
}

.playPartidaCard:hover p {
	transform: scale(1.3);
	padding: 0px 40px;
}

.playPartidaCard a p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	color: white!important;	
	text-transform: uppercase;
	font-size: 25px;

	padding: 0px 15px;
}

.playPartidaCard.disabledBtn a p {
	/*color: #CD5C5C!important;*/
	color: rgba(41,41,41,1)!important;
}

.removePlayerBtn {
	float: right!important;
	position: absolute!important;
	color: black!important;
	top: 0px;
	right: 0px;
	border: 0px!important;

	display: table;
	padding: 0px!important;
	width: auto!important;
}

.removePlayerBtn i {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	width:44px!important;
	height: 44px!important;
}

.removePlayerBtn:hover {
	color: red!important;
}

#partidaWarning {
	color: red;
	float: right;
	display: none;
}

#containerCursosEntrenament {
	padding-left: 0px!important;
}

#containerNormes, #containerCursosEntrenament {
	margin: 0px!important;
}

/* #containerCursos */
/*#containerNormes {
	width: 55%!important;
}*/

#containerCursos {
	margin: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
}

#containerComençarPartida {
	/*width: 45%!important;*/
	padding: 0px 0px!important;
	max-width: 50%!important;
	margin: 0px!important;
}

.playPartidaButton {
	overflow: hidden;
}

.tableNormes {
	width: 100%!important;
	max-width: none!important
}

.tableNormes li {
	padding: 10px;
}

.tableNormes li p {
	width: 50%;
	float: left;
}

.tableNormes select {
	width: 100%;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 5px;
	color: white;

	outline: none;
}

.tableNormes option {
	color: black;
}

.tableHead {
	text-align: center;

	background-color: transparent!important;
	border-bottom: 1px solid white;
}

.tableNormes li:nth-child(2) {
	margin-top: 10px;
}

.tableHead p {
	width: 100%!important;
}

.tableHead#temesHead p {
	width: 50%!important;
}

.tableNormes p {
	margin-bottom: 0px!important;
}

.tableNormes li:nth-child(odd) {
	background-color: rgba(255,255,255,0.2);
} 


#topLobby {
	margin-left: 0px!important;
}

/* PARTIDA LOBBY END */

/* images */
.language-icon {
	width: 20px; 
	height: 20px;
	border: 1px solid #fff;
}

/* preguntes */

.preguntesLanguageHeader {
	height: 30px;
	line-height: 30px;
}

.card-blue {
	background-color: #005a9e;
	color: #fff;
	font-weight: bold;
	transition: background-color 0.2s ease-out;
}

.card-blue:hover {
	background-color: #4ba5e5;
}

/* ENTRENAMENT */

.entrenamentCurs {
	cursor: pointer;
	border: 1px solid transparent;
}

.entrenamentCurs:hover {
	border: 1px solid orange;
}

.entrenamentCursSelected {
	border: 1px solid green;
	color: green;
	filter: brightness(1.5);
}

/* ENTRENAMENT END */

/* TRANSICIONS */

.alltransition3 {
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.alltransitionparent3 *{
	-moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* TRANSICIONS END */

/*Eddy LOGIN y REGISTER*/
.fondo-eddy{
	
	background-image: url("../img/estudio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.05;
}

.askuser {
	background-color: rgba(255,255,255,1); 
	min-height: 100vh;
	overflow: hidden;
}

.formulario-login, .formulario-register{
	background-color:rgba(255,255,255,0.5);
	width: 80%;
	max-width: 500px;
	margin-top: 200px;
	box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.25);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	z-index: 1;
	background-color: white;
}

.askuser form {
	padding: 15px;
}

.formheader {
	width: 100%;
	text-align: center;
	background-color: #005a9e;
	color: white;
	display: table;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	padding: 10px;
}

.formheader::after {
	position: absolute;
	width: 100%;
	height: 5px;
	content: '';
	left: 0;
	bottom: -5px;
	background-color: #4ba5e5;
	z-index: 2;
}

.formheader h2 {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

.buttonLoginRegisterDiv {
	margin-top: 30px;
	text-align: center;
}

.buttonLoginRegister {
	width: 50%!important;
	display: inline-block;
}

.buttonLoginRequest {
	width: 80%!important;
	display: inline-block;
}

.formulario-register{
	margin-top: 50px!important;
}

.formulario-login input, .fos_user_registration_register input, .formulario-login label, .fos_user_registration_register label, .formulario-login textarea, .fos_user_registration_register textarea {
	width: 100%;
}

.fos_user_registration_register input:not(.btn){
	margin-bottom: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.label_p{
	padding-top:20px;
}

#rememberDiv {
	margin-top: 30px;
	text-align: center!important;
}

.formulario-login input[type="checkbox"] {
	margin-right: 10px;
	height: 20px!important;
}

.formulario-login input[type="checkbox"], .formulario-login .remember {
	width: auto!important;

}

.submit-register{
	margin-top: 20px;
}

/*FIN LOGIN y REGISTER*/

/* CHANGE PASSWORD */
.fos_user_change_password label, .fos_user_change_password input {
	width: 100%;
}

.fos_user_change_password input:not(.btn){
	margin-bottom: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.buttonChangePasswordDiv {
	margin-top: 30px;
	text-align: center;
}

.buttonChangePassword {
	width: 50%!important;
	display: inline-block;
}
/* FIN CHANGE PASSWORD */


.fos_user_profile_edit, .askuser div:first-child{
	z-index: 99999;
    position: relative;
}

.fos_user_profile_edit label, .fos_user_profile_edit input {
	width: 100%;
}

.fos_user_profile_edit input:not(.btn){
	margin-bottom: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* FLOAT PERFIL USUARI */

#usuariFloat {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 30;

	background-color: rgba(255,255,255,0.1);
	border-radius: 25px;
	overflow: hidden;
}

#usuariFloat:hover {
	background-color: rgba(255,255,255,0.2);
}

#usuariFloat:hover #perfilFloat label {
	transform: scale(1.5);
}

#perfilFloat label, #perfilNom label {
	margin-bottom: 0px;
	width: 100%;
	color: white;
	text-align: center;

	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
}

#perfilFloat {
	border: 2px solid white;
	border-radius: 50%;
	width: 50px;

	background-color: rgba(41,41,41,1);
}

#perfilNom {
	padding-left: 25px!important;
}

#perfilFloat, #perfilNom {
	float: left;
	padding: 10px;

	display: table;
	height: 50px;
	position: relative;
	z-index: 1;
}

#usuariFloat label {
	z-index: 1;
}

#perfilNom {

}

/* FLOAT PERFIL USUARI END */

/* MODAL INICIAR SESSIÓ PARTIDA */

.modal-backdrop {
	
}

#jugadorSeleccionatLabelFill {
	font-weight: bold;
}

#iniciarSessioTitle {
	color: black;
	text-transform: none!important;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(41,41,41,0.2);
}

#iniciarSessioModal label, #iniciarSessioModal input {
	width: 100%;
}

#iniciarSessioModal input[type="text"], #iniciarSessioModal input[type="password"] {
	padding: .375rem .75rem;
	border-radius: .25rem;
	border: 1px solid #ced4da;
}

#iniciarSessioModal label, #iniciarSessioModal input[type="submit"] {
	margin-top: 15px;
}

#iniciarSessioModal input[type="submit"] {
	display: inline-block;
	width: auto;
	float: right;
}

#iniciarSessioModalMsg h2 {
	color: black;
}

/* MODAL INICIAR SESSIÓ PARTIDA END */

/* CANVI MODE MODAL */

#canviModeTitle {
	color: black!important;
	text-align: center;
}

#canviModeAccept, #canviModeDeny, #desvincularAccept, #desvincularDeny {
	width: 75px;
}

#acceptdenyModel {
	text-align: center;
}

/* CANVI MODE MODAL END */

.fos_user_profile_edit input:read-only {
	background: #E5E5E5;
}

/* ANIMATIONS */

@keyframes rotate360 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* ANIMATIONS END */

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 1280px) {

	#multiplayerLobby {
		margin-right: 0px!important;
		padding-right: 0px!important;
	}

	#multiplayerLobby, #multiplayerContainer {
		width: 100%!important;
		max-width: none!important;
		flex: none;
	}

	.backgroundRotate {
		top: 0;
		right: 0;
		display: none;
	}

	#multiplayerLobby > .container {
		padding: 0px!important;
	}

	#usuariFloat {
		display: none;
	}

}

@media screen and (max-width: 1030px) {

	#tipusPartidaSlider, #playerList, #containerNormes, #containerComençarPartida, #containerCursos {
		flex: none!important;
		width: 100%!important;
		max-width: none!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}

	.tableNormes {
		max-width: none!important;
	}

	#containerNormesStart {
		margin: 0px!important;
	}

	#tipusPartidaSlider {
		height: 220px;
	}

	.carousel-inner  {
		min-height: 0px!important;
		height: 100%;
	}

	#titleMultijugador, #grupMultijugador {
		text-align: center;
	}

}

/* RESPONSIVE MEDIA QUERIES END */