/* normalitzacio d'estils */

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

/* navegacio admin */
.navegacio {
    background-color: #005a9e;
    position: relative;
}

#botoMenu {
	background: transparent;
	border: 0;
	color: white;
}

#logo {
	width: 120px;
}

.navegacio::after {
	position: absolute;
	width: 100%;
	height: 5px;
	content: '';
	left: 0;
	bottom: -5px;
	background-color: #4ba5e5;
}

#menuLateral {
	background-color: #eeeeee;
	width: 245px !important;
}

#menuList {
	list-style: none;
	padding: 0;
}

#menuList > li {
	display: block;
	padding: 20px 0px 20px 50px;
}

#menuList > li.active {
	background-color: #fff;
}

#menuList > li > a {
	color: #999;
	font-style: none;
	font-weight: none;
}

#menuList > li.active > a {
	color: #005a9e;
}

#mainRow {
	margin-top: 5px;
}

.grups {
    margin: 0 auto;
    display: block;
    overflow: hidden;
}