{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid d-flex justify-content-center">
<div class="formulario-register">

<div class="formheader mb-2">
    <h2>Registrar-se</h2>
</div>
<div class="p-4">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
	    <div class="col buttonLoginRegisterDiv">
	        <input class="btn customBlueBtn buttonLoginRegister" type="submit" value="{{ 'registration.submit'|trans }}" />
	    </div>
    </div>

{{ form_end(form) }}
</div>
</div>
</div>
