{% extends 'base.html.twig' %}

{% block title %}Usuaris{% endblock %}

{% block body %}
	<div class="card border-0 m-5">
		<div class="card-header border-bottom bg-white d-flex justify-content-between p-0"><h1 class="h3">USUARIS</h1><button class="btn btn-link" onclick="window.history.back();"><i class="fas fa-arrow-left"></i> TORNAR</button></div>
	</div>

{% endblock %}
