body{
    background-color: pink;
}

.board-wrapper {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.board-img {
    width: 80%;
    height: auto;
}

.box-start {
    width: 8%;
    height: 8%;
    border-radius: 20%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-180%, -50%);
}

.box-start:hover {
    background: red;
}

.box-1-1 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 40.9%;
    left: 40.7%;
}


.box-1-1:hover {
    background: blue;
}

.box-1-2 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 36%;
    left: 43.7%;
}


.box-1-2:hover {
    background: blue;
}


.box-1-3 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 30.9%;
    left: 46.5%;
}


.box-1-3:hover {
    background: blue;
}


.box-1-4 {
    width: 5.8%;
    height: 5.5%;
    transform: rotate(37deg);
    position: absolute;
    top: 26%;
    left: 49.5%;
}


.box-1-4:hover {
    background: blue;
}


.box-1-5 {
    width: 5.8%;
    height: 7%;
    transform: rotate(37deg);
    position: absolute;
    top: 19.5%;
    left: 52.8%;
}


.box-1-5:hover {
    background: blue;
}


.box-1-6 {
    width: 5.8%;
    height: 9%;
    transform: rotate(37deg);
    position: absolute;
    top: 11.2%;
    left: 57.2%;
}


.box-1-6:hover {
    background: blue;
}

.box-1-7 {
    width: 4.2%;
    height: 9%;
    transform: rotate(42deg);
    position: absolute;
    top: 16.2%;
    left: 62.5%;
}


.box-1-7:hover {
    background: blue;
}


.box-1-8 {
    width: 4.8%;
    height: 9%;
    transform: rotate(54deg);
    position: absolute;
    top: 22%;
    left: 65.6%;
}


.box-1-8:hover {
    background: greenyellow;
}

.box-1-9{
    width: 4.8%;
    height: 9%;
    transform: rotate(64deg);
    position: absolute;
    top: 29%;
    left: 68.6%;
}


.box-1-9:hover {
    background: greenyellow;
}

.box-1-10{
    width: 4.8%;
    height: 9%;
    transform: rotate(78deg);
    position: absolute;
    top: 35.8%;
    left: 70.2%;
}


.box-1-10:hover {
    background: blue;
}

.box-1-11{
    width: 4.6%;
    height: 9%;
    transform: rotate(89deg);
    position: absolute;
    top: 43.2%;
    left: 71.7%;
}


.box-1-11:hover {
    background: blue;
}

.box-1-12{
    width: 5.2%;
    height: 9%;
    transform: rotate(98deg);
    position: absolute;
    top: 51.1%;
    left: 71%;
}


.box-1-12:hover {
    background: blue;
}


.box-1-13{
    width: 5.5%;
    height: 9%;
    transform: rotate(106deg);
    position: absolute;
    top: 59.1%;
    left: 69.4%;
}


.box-1-13:hover {
    background: blue;
}


.box-1-14{
    width: 5.2%;
    height: 9%;
    transform: rotate(114deg);
    position: absolute;
    top: 66.5%;
    left: 67.2%;
}


.box-1-14:hover {
    background: greenyellow;
}


.box-1-15{
    width: 5.2%;
    height: 9%;
    transform: rotate(125deg);
    position: absolute;
    top: 73.2%;
    left: 64%;
}


.box-1-15:hover {
    background: greenyellow;
}


.box-1-16{
    width: 5%;
    height: 9%;
    transform: rotate(138deg);
    position: absolute;
    top: 78.8%;
    left: 59.8%;
}


.box-1-16:hover {
    background: greenyellow;
}


.box-1-17{
    width: 4.3%;
    height: 9%;
    transform: rotate(150deg);
    position: absolute;
    top: 82.8%;
    left: 55.2%;
}


.box-1-17:hover {
    background: blue;
}


.box-1-18{
    width: 4.7%;
    height: 8.5%;
    transform: rotate(159deg);
    position: absolute;
    top: 86.5%;
    left: 49.6%;
}


.box-1-18:hover {
    background: blue;
}

.box-1-19{
    width: 4.5%;
    height: 8.5%;
    transform: rotate(174deg);
    position: absolute;
    top: 88.4%;
    left: 43.5%;
}


.box-1-19:hover {
    background: blue;
}


.box-1-20{
    width: 5.6%;
    height: 8.5%;
    transform: rotate(180deg);
    position: absolute;
    top: 88.8%;
    left: 36.7%;
}


.box-1-20:hover {
    background: greenyellow;
}


.box-1-21{
    width: 4.6%;
    height: 8.8%;
    transform: rotate(184deg);
    position: absolute;
    top: 88.2%;
    left: 31.2%;
}


.box-1-21:hover {
    background: blue;
}


.box-1-22{
    width: 4.6%;
    height: 8.8%;
    transform: rotate(198deg);
    position: absolute;
    top: 85.8%;
    left: 25.2%;
}


.box-1-22:hover {
    background: blue;
}


.box-1-23{
    width: 4.4%;
    height: 8.8%;
    transform: rotate(211deg);
    position: absolute;
    top: 82.6%;
    left: 20.2%;
}


.box-1-23:hover {
    background: blue;
}

.box-1-24{
    width: 4.4%;
    height: 8.8%;
    transform: rotate(220deg);
    position: absolute;
    top: 78.2%;
    left: 15.2%;
}


.box-1-24:hover {
    background: blue;
}

.box-1-25{
    width: 4.7%;
    height: 9.2%;
    transform: rotate(232deg);
    position: absolute;
    top: 72.2%;
    left: 11.2%;
}


.box-1-25:hover {
    background: greenyellow;
}

.box-1-26{
    width: 4.5%;
    height: 9.2%;
    transform: rotate(245deg);
    position: absolute;
    top: 65.8%;
    left: 7.8%;
}


.box-1-26:hover {
    background: blue;
}

.box-1-27{
    width: 5.4%;
    height: 8.8%;
    transform: rotate(255deg);
    position: absolute;
    top: 58.8%;
    left: 5.1%;
}


.box-1-27:hover {
    background: blue;
}

.box-1-28{
    width: 5%;
    height: 9%;
    transform: rotate(260deg);
    position: absolute;
    top: 50.8%;
    left: 4%;
}


.box-1-28:hover {
    background: blue;
}

.box-1-29{
    width: 4.6%;
    height: 9%;
    transform: rotate(274deg);
    position: absolute;
    top: 43%;
    left: 4%;
}


.box-1-29:hover {
    background: blue;
}

.box-1-30{
    width: 4.6%;
    height: 9%;
    transform: rotate(282deg);
    position: absolute;
    top: 36%;
    left: 4.5%;
}


.box-1-30:hover {
    background: blue;
}

.box-1-31{
    width: 4.6%;
    height: 8.7%;
    transform: rotate(294deg);
    position: absolute;
    top: 29%;
    left: 6.5%;
}


.box-1-31:hover {
    background: greenyellow;
}

.box-1-32{
    width: 4.8%;
    height: 8.7%;
    transform: rotate(306deg);
    position: absolute;
    top: 22.4%;
    left: 9.3%;
}


.box-1-32:hover {
    background: blue;
}

.box-1-33{
    width: 4.4%;
    height: 8.7%;
    transform: rotate(316deg);
    position: absolute;
    top: 16.4%;
    left: 13%;
}


.box-1-33:hover {
    background: blue;
}


.box-1-34{
    width: 5.6%;
    height: 8.7%;
    transform: rotate(324deg);
    position: absolute;
    top: 11.2%;
    left: 17.2%;
}


.box-1-34:hover {
    background: blue;
}

.box-1-35{
    width: 4.8%;
    height: 9%;
    transform: rotate(332deg);
    position: absolute;
    top: 7%;
    left: 22.8%;
}


.box-1-35:hover {
    background: blue;
}

.box-1-36{
    width: 4.8%;
    height: 9%;
    transform: rotate(342deg);
    position: absolute;
    top: 4%;
    left: 28.4%;
}


.box-1-36:hover {
    background: blue;
}

.box-1-37{
    width: 4.3%;
    height: 9%;
    transform: rotate(354deg);
    position: absolute;
    top: 3%;
    left: 34.4%;
}


.box-1-37:hover {
    background: blue;
}

.box-1-38{
    width: 4.7%;
    height: 9.6%;
    transform: rotate(368deg);
    position: absolute;
    top: 2.6%;
    left: 40.5%;
}


.box-1-38:hover {
    background: blue;
}

.box-1-39{
    width: 4.4%;
    height: 9.6%;
    transform: rotate(375deg);
    position: absolute;
    top: 3.8%;
    left: 46.5%;
}


.box-1-39:hover {
    background: blue;
}

.box-1-40{
    width: 5%;
    height: 9.6%;
    transform: rotate(390deg);
    position: absolute;
    top: 6.8%;
    left: 52%;
}


.box-1-40:hover {
    background: greenyellow;
}

.box-1-41 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 41%;
    left: 32.5%;
}


.box-1-41:hover {
    background: blue;
}

.box-1-42 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 35.8%;
    left: 29.8%;
}


.box-1-42:hover {
    background: blue;
}

.box-1-43 {
    width: 5.7%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 30.9%;
    left: 26.9%;
}


.box-1-43:hover {
    background: blue;
}

.box-1-44 {
    width: 5.7%;
    height: 5.2%;
    transform: rotate(146deg);
    position: absolute;
    top: 25.8%;
    left: 24.2%;
}


.box-1-44:hover {
    background: blue;
}

.box-1-45 {
    width: 6%;
    height: 6%;
    transform: rotate(146deg);
    position: absolute;
    top: 19.8%;
    left: 20.9%;
}


.box-1-45:hover {
    background: greenyellow;
}

.box-1-46 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 51%;
    left: 30.2%;
}


.box-1-46:hover {
    background: greenyellow;
}

.box-1-47 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 52.8%;
    left: 25.2%;
}


.box-1-47:hover {
    background: blue;
}

.box-1-48 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 54.6%;
    left: 20.3%;
}


.box-1-48:hover {
    background: blue;
}

.box-1-49 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 56.4%;
    left: 15.8%;
}


.box-1-49:hover {
    background: blue;
}

.box-1-50 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(252deg);
    position: absolute;
    top: 58.4%;
    left: 11%;
}


.box-1-50:hover {
    background: blue;
}

.box-1-51 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 50.8%;
    left: 43.6%;
}


.box-1-51:hover {
    background: blue;
}

.box-1-52 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 52.6%;
    left: 48.2%;
}


.box-1-52:hover {
    background: greenyellow;
}

.box-1-53 {
    width: 5.8%;
    height: 5.2%;
    transform: rotate(108deg);
    position: absolute;
    top: 54.6%;
    left: 52.9%;
}


.box-1-53:hover {
    background: blue;
}

.box-1-54 {
    width: 5.8%;
    height: 5.6%;
    transform: rotate(108deg);
    position: absolute;
    top: 56.2%;
    left: 57.6%;
}


.box-1-54:hover {
    background: blue;
}

.box-1-55 {
    width: 6.4%;
    height: 5.6%;
    transform: rotate(108deg);
    position: absolute;
    top: 58.2%;
    left: 62.4%;
}


.box-1-55:hover {
    background: blue;
}

.box-1-56 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 59.7%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box-1-56:hover {
    background: blue;
}

.box-1-57 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 65.8%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box-1-57:hover {
    background: blue;
}

.box-1-58 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 72%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box-1-58:hover {
    background: blue;
}

.box-1-59 {
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 78.2%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box-1-59:hover {
    background: blue;
}

.box-1-60 {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 85%;
    left: 47.4%;
    transform: translate(-180%, -50%);
}

.box-1-60:hover {
    background: blue;
}