
<div class="col-12 col-md-8">
	<h4>Benvingut/da a Trivial UB!</h4>
	<p style="font-weight: 14px">El teu compte ha sigut creat per:<strong> {{ creador }}</strong></p>
	<p>Aquestes són les credencials que necessites per accedir:</p>
	<ul style="list-style: none;">
		<li><strong>Usuari:</strong> {{ username }}</li>
		<li><strong>Contrasenya: </strong> {{ password }}</li>
	</ul>
	Entra a l'aplicació: {{ path('fos_user_security_login') }}
</div>