<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}{% endblock %}
        {% block javascriptsTop %}{% endblock %}
    </head>
    <body>
        
        {% block body %}{% endblock %}
        {% block javascriptsBottom %}{% endblock %}
    </body>
</html>
