{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>Llistat de grups</h1>

{% for grup in grups %}

    <div class="grup">
        <p>{{ grup.nom }}</p>
        <p>{{ grup.idAdministrador }}</p>
    </div>


{% endfor %}

{% endblock %}
