<div class="board-wrapper">
        <img class="board-img" src="{{ asset('img/nuevooo.png') }}" alt="">
        <div class="caselles">
          <!-- BOTON CENTRAL-->
          <div id="box-start" class="casilla"></div>
               <div class="box-start-parpadeo"></div>
          <!-- BARRA SUPERIOR DERECHA-->
          <div id="box1" class="casilla"></div>
                <div class="box1-parpadeo parpadeo-active"></div>   
          <div class="box2 casilla"></div>
                <div class="box2-parpadeo"></div> 
          <div class="box3 casilla"></div>
                <div class="box3-parpadeo"></div> 
          <div class="box4 casilla"></div>
                <div class="box4-parpadeo"></div> 
          <div class="box5 casilla"></div>
                <div class="box5-parpadeo"></div> 
          <!-- FIN BARRA SUPERIOR DERECHA-->

         <!-- CIRCULO EXTERIOR-->

         <!-- parte superior derecha-->
          <div class="box6 casilla"></div>
                <div class="box6-parpadeo"></div> 
                <div class="box6-icono"><i class="fas fa-star"></i></div> 
          <div class="box7 casilla"></div>
                <div class="box7-parpadeo"></div> 
          <div class="box8 casilla"></div>
                <div class="box8-parpadeo"></div> 
          <div class="box9 casilla"></div>
                <div class="box9-parpadeo"></div> 
          <div class="box10 casilla"></div>
                <div class="box10-parpadeo"></div> 
          <div class="box11 casilla"></div>
                <div class="box11-parpadeo"></div> 
          <div class="box12 casilla"></div>
                <div class="box12-parpadeo"></div> 
          <div class="box13 casilla"></div>
                <div class="box13-parpadeo"></div> 
                <div class="box13-icono"><i class="fas fa-star"></i></div> 
        <!-- fin parte superior derecha-->

          <!--parte derecha inferior-->
          <div class="box14 casilla casilla"></div>
                <div class="box14-parpadeo"></div> 
          <div class="box15 casilla casilla"></div>
                <div class="box15-parpadeo"></div> 
          <div class="box16 casilla casilla"></div>
                <div class="box16-parpadeo"></div> 
          <div class="box17 casilla casilla"></div>
                <div class="box17-parpadeo"></div> 
          <div class="box18 casilla casilla"></div>
                <div class="box18-parpadeo"></div>
          <div class="box19 casilla casilla"></div>
                  <div class="box19-parpadeo"></div> 
          <div class="box20 casilla casilla"></div>
                  <div class="box20-parpadeo"></div>
                  <div class="box20-icono"><i class="fas fa-star"></i></div>  
               <!-- fin parte derecha inferior-->

             <!--parte izquierda inferior-->
             <div class="box21 casilla"></div>
                  <div class="box21-parpadeo"></div> 
             <div class="box22 casilla"></div>
                  <div class="box22-parpadeo"></div> 
             <div class="box23 casilla"></div>
                  <div class="box23-parpadeo"></div> 
             <div class="box24 casilla"></div>
                  <div class="box24-parpadeo"></div> 
             <div class="box25 casilla"></div>
                  <div class="box25-parpadeo"></div> 
             <div class="box26 casilla"></div>
                  <div class="box26-parpadeo"></div> 
             <div class="box27 casilla"></div>
                  <div class="box27-parpadeo"></div> 
                  <div class="box27-icono"><i class="fas fa-star"></i></div> 
           <!--fin parte izquierda inferior-->

             <!-- parte izquierda superior -->
             <div class="box28 casilla"></div>
                  <div class="box28-parpadeo"></div> 
             <div class="box29 casilla"></div>
                  <div class="box29-parpadeo"></div> 
             <div class="box30 casilla"></div>
                  <div class="box30-parpadeo"></div> 
             <div class="box31 casilla"></div>
                  <div class="box31-parpadeo"></div> 
             <div class="box32 casilla"></div>
                  <div class="box32-parpadeo"></div> 
             <div class="box33 casilla"></div>
                  <div class="box33-parpadeo"></div> 
             <div class="box34 casilla"></div>
                  <div class="box34-parpadeo"></div> 
                  <div class="box34-icono"><i class="fas fa-star"></i></div> 
              <!-- fin parte izquierda superior -->

             <!-- parte superior-->
             <div class="box35 casilla"></div>
                  <div class="box35-parpadeo"></div> 
             <div class="box36 casilla"></div>
                  <div class="box36-parpadeo"></div> 
             <div class="box37 casilla"></div>
                  <div class="box37-parpadeo"></div> 
             <div class="box38 casilla"></div>
                  <div class="box38-parpadeo"></div> 
             <div class="box39 casilla"></div>
                  <div class="box39-parpadeo"></div> 
             <div class="box40 casilla"></div>
                  <div class="box40-parpadeo"></div> 
             <!-- fin parte superior-->

           <!--FIN CIRCULO EXTERIOR--> 
           
               <!-- BARRA SUPERIOR IZQUIERDA-->
          <div class="box41 casilla"></div>
                <div class="box41-parpadeo"></div>
          <div class="box42 casilla"></div>
                <div class="box42-parpadeo"></div> 
          <div class="box43 casilla"></div>
                <div class="box43-parpadeo"></div> 
          <div class="box44 casilla"></div>
                <div class="box44-parpadeo"></div> 
          <div class="box45 casilla"></div>
                <div class="box45-parpadeo"></div> 
          <!-- FIN BARRA SUPERIOR IZQUIERDA--> 

               <!-- BARRA IZQUIERDA-->
               <div class="box46 casilla"></div>
                    <div class="box46-parpadeo"></div> 
               <div class="box47 casilla"></div>
                    <div class="box47-parpadeo"></div> 
               <div class="box48 casilla"></div>
                    <div class="box48-parpadeo"></div> 
               <div class="box49 casilla"></div>
                    <div class="box49-parpadeo"></div> 
               <div class="box50 casilla"></div>
                    <div class="box50-parpadeo"></div> 
               <!-- FIN BARRA IZQUIERDA--> 

                  <!-- BARRA DERECHA-->
                  <div class="box51 casilla"></div>
                          <div class="box51-parpadeo"></div>
                  <div class="box52 casilla"></div>
                          <div class="box52-parpadeo"></div> 
                  <div class="box53 casilla"></div>
                        <div class="box53-parpadeo"></div> 
                  <div class="box54 casilla"></div>
                        <div class="box54-parpadeo"></div> 
                  <div class="box55 casilla"></div>
                        <div class="box55-parpadeo"></div> 
                  <!-- FIN BARRA DERECHA--> 

                   <!-- BARRA INFERIOR-->
                   <div class="box56 casilla"></div>
                          <div class="box56-parpadeo"></div> 
                   <div class="box57 casilla"></div>
                          <div class="box57-parpadeo"></div> 
                   <div class="box58 casilla"></div>
                          <div class="box58-parpadeo"></div> 
                   <div class="box59 casilla"></div>
                          <div class="box59-parpadeo"></div> 
                   <div class="box60 casilla"></div>
                          <div class="box60-parpadeo"></div> 
                   <!-- FIN BARRA INFERIOR--> 
            </div>
    </div>
    