<div class="board-wrapper">
        <img class="board-img" src="{{ asset('img/nuevooo.png') }}" alt="">
        <div class="caselles">
          <!-- BOTON CENTRAL-->
          <div id="box-start" class="casilla"></div>
          <!-- BARRA SUPERIOR DERECHA-->
          <div id="box1" class="casilla"></div>   
          <div id="box2" class="casilla"></div>
          <div id="box3" class="casilla"></div>
          <div id="box4" class="casilla"></div>
          <div id="box5" class="casilla"></div>
          <!-- FIN BARRA SUPERIOR DERECHA-->

         <!-- CIRCULO EXTERIOR-->

         <!-- parte superior derecha-->
          <div id="box6" class="casilla"></div>
                <div class="box6-icono"><i class="fas fa-star"></i></div> 
          <div id="box7" class="casilla"></div>
          <div id="box8" class="casilla"></div> 
          <div id="box9" class="casilla"></div>
          <div id="box10" class="casilla"></div> 
          <div id="box11" class="casilla"></div>
          <div id="box12" class="casilla"></div>
          <div id="box13" class="casilla"></div>
                <div class="box13-icono"><i class="fas fa-star"></i></div> 
        <!-- fin parte superior derecha-->

          <!--parte derecha inferior-->
          <div id="box14" class="casilla"></div>
          <div id="box15" class="casilla"></div>
          <div id="box16" class="casilla"></div>
          <div id="box17" class="casilla"></div>
          <div id="box18" class="casilla"></div>
          <div id="box19" class="casilla"></div>
          <div id="box20" class="casilla"></div>
                  <div class="box20-icono"><i class="fas fa-star"></i></div>  
               <!-- fin parte derecha inferior-->

             <!--parte izquierda inferior-->
             <div id="box21" class="casilla"></div>
             <div id="box22" class="casilla"></div>
             <div id="box23" class="casilla"></div>
             <div id="box24" class="casilla"></div>
             <div id="box25" class="casilla"></div>
             <div id="box26" class="casilla"></div>
             <div id="box27" class="casilla"></div>
                  <div class="box27-icono"><i class="fas fa-star"></i></div> 
           <!--fin parte izquierda inferior-->
     <!--SEGUIR POR AQUI-->
             <!-- parte izquierda superior -->
             <div id="box28" class="casilla"></div>
             <div id="box29" class="casilla"></div>
             <div id="box30" class="casilla"></div>
             <div id="box31" class="casilla"></div>
             <div id="box32" class="casilla"></div>
             <div id="box33" class="casilla"></div>
             <div id="box34" class="casilla"></div>
                  <div class="box34-icono"><i class="fas fa-star"></i></div> 
              <!-- fin parte izquierda superior -->

             <!-- parte superior-->
             <div id="box35" class="casilla"></div>
             <div id="box36" class="casilla"></div>
             <div id="box37" class="casilla"></div>
             <div id="box38" class="casilla"></div>
             <div id="box39" class="casilla"></div>
             <div id="box40" class="casilla"></div>
             <!-- fin parte superior-->

           <!--FIN CIRCULO EXTERIOR--> 
           
               <!-- BARRA SUPERIOR IZQUIERDA-->
          <div id="box41" class="casilla"></div>
          <div id="box42" class="casilla"></div>
          <div id="box43" class="casilla"></div>
          <div id="box44" class="casilla"></div>
          <div id="box45" class="casilla"></div>
          <!-- FIN BARRA SUPERIOR IZQUIERDA--> 

               <!-- BARRA IZQUIERDA-->
               <div id="box46" class="casilla"></div>
               <div id="box47" class="casilla"></div>
               <div id="box48" class="casilla"></div>
               <div id="box49" class="casilla"></div>
               <div id="box50" class="casilla"></div>
               <!-- FIN BARRA IZQUIERDA--> 

                  <!-- BARRA DERECHA-->
                  <div id="box51" class="casilla"></div>
                  <div id="box52" class="casilla"></div>
                  <div id="box53" class="casilla"></div>
                  <div id="box54" class="casilla"></div>
                  <div id="box55" class="casilla"></div>
                  <!-- FIN BARRA DERECHA--> 

                   <!-- BARRA INFERIOR-->
                   <div id="box56" class="casilla"></div>
                   <div id="box57" class="casilla"></div>
                   <div id="box58" class="casilla"></div>
                   <div id="box59" class="casilla"></div>
                   <div id="box60" class="casilla"></div> 
                   <!-- FIN BARRA INFERIOR--> 
            </div>
    </div>
    