<div class="estadistiques col-12 text-white mt-4 float-left">
    <h6 class="est-title">ESTADÍSTIQUES</h6>

    <div id="est-tema1" class="est-tema-title">Tema 1</div>
    <div class="progress">
        <div id="est-bar1" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="est-bar1-2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="est-tema2" class="est-tema-title">Tema 2</div>
    <div class="progress">
        <div id="est-bar2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="est-bar2-2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="est-tema3" class="est-tema-title">Tema 3</div>
    <div class="progress">
        <div id="est-bar3" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="est-bar3-2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="est-tema4" class="est-tema-title">Tema 4</div>
    <div  class="progress">
        <div id="est-bar4" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="est-bar4-2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="est-tema5" class="est-tema-title">Tema 5</div>
    <div class="progress">
        <div id="est-bar5" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
           <div id="est-bar5-2" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

</div>
